
@font-face {
    font-family: 'FoundersGroteskWeb-Regular';
    src: url('../fonts/Founders/FoundersGroteskWeb-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'FoundersGroteskWeb-Regular';
    src: url('../fonts/Founders/FoundersGroteskWeb-Regular.woff') format('woff');
}

body {
  color:#3C4650;
  font-family:'FoundersGroteskWeb-Regular','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:18px;
  line-height:1.42857;
  padding-top:120px;
}

a {
  color: #00aaeb;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0085b8;
  text-decoration: underline;
}


.container {
    padding-bottom:20px;
    padding-top:20px;
}

.navbar-inverse {
  background-color:#00AAEB;
  background-image:none;
  border-color:#0085B8;
  margin-bottom:0;
}

.navbar-inverse .navbar-brand {
    color: white;
}
/*
.navbar {
  border:1px solid transparent;
  margin-bottom:0;
  min-height:50px;
  position:relative;
}

.navbar-inverse > .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

*/


.navbar-brand, a.logo {
    font-size:32px;
    font-weight:600;
    color:white;
    background:url(../img/png/logo_start.png) no-repeat;
    padding-left: 0;
}

.barrel {
    border-left: 4px solid white;
    margin-right: 20px;
    padding-left: 15px;
    margin-left: 230px;
}

/* Jumbotron */
.jumbotron {
  padding-top: 0px;
}

/* Hero */
.hero {
    padding-bottom:30px;
}

.hero h1 {
    font-size: 81px;
    line-height: 0.875;
    margin-top: 0;
}

.hero p {
    font-size: 26px;
    margin:0 0 12.5px;
}
/* Startpage areas */
.area {
    width:90px;
    height: 90px;
    border-radius: 45px;
    background-color: #00AAFD;
    margin:0 auto;
    padding:inherit;
    color: white;
    text-align: center;
   }

.blueRow{
    background-color:#EBF7F7;
}

.rotate45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


div .area {
    margin-top: 20px;
}

.area span{
    line-height:90px;
}
span .fa .fa-arrow-right .fa-arrow-right{
    font-size:12px;
}

.fa .fa-arrow-right {
    font-size: 14px;
}

/* Showcase area */
.showcase.panel {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 280px;
    text-transform: none;
    -moz-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
    -o-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
    -webkit-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
    transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
}

.showcase.panel:hover {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 280px;
    text-transform: none;
    -moz-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
    -o-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
    -webkit-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
    transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
}
.panel-default {
    border-color: #dddddd;
}
.panel {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

.showcase.panel a .panel-body {
    height: 100%;
}
a .panel-body {
    -moz-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
    -o-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
    -webkit-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
    transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
}
.panel-body {
    padding: 15px;
}

/* End Showcase area */



div.feed p a:before,
div.no-row.clearfix h3 a.pull-right:before {
    padding-right: 5px;
    content: url('../img/png/icon_arrow_right16.png');
    height: 10px;
    width: 10px;
}

div.feed p a:hover:before,
div.no-row.clearfix h3 a.pull-right:hover:before {
    padding-right: 5px;
    content: url('../img/png/icon_arrow_right16_dark.png');
}

.label-info {
  color: #3c4650;
  background-color: #fff7b4;
}
.label-info.date-short {
  display: inline-block;
  width: 56px;
  color: #3c4650 !important;
  margin-right: 10px;
  padding: 4px 0 4px 0;
  line-height: 1.5;
  font-weight: normal;
  background-color: #fff7b4 !important;
}
.truncate,
.truncate *,
.ellipsis,
.ellipsis * {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate li .label-info + a,
.truncate * li .label-info + a,
.ellipsis li .label-info + a,
.ellipsis * li .label-info + a {
  margin-left: -66px;
  padding-left: 66px;
}
.truncate a,
.ellipsis a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.list-unstyled {
  line-height: 2;
}
ul.list-unstyled.truncate,
ul.list-unstyled.ellipsis {
  line-height: 1.64;
}

/* Footer */

footer {
  background-color: #00394d;
}
footer h1,
footer .h1,
footer h2,
footer .h2,
footer h3,
footer .h3,
footer .copyright {
  color: #aaaaaa;
}
footer a,
footer .logo {
  color: white;
}
footer a:hover,
footer a:focus {
  color: #00aaeb;
}
footer,
footer .info {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .info {
  line-height: 2;
}
footer .info .logo {
  float: right;
  padding-top: 20px;
}
footer .info .logo .icon {
  font-size: 54px;
}
/* End Footer */


/* Button styles */
button.btn {
    border: 1px solid transparent;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hero a, .hero button {
    font-size: 18px;
}
.btn-primary {
    background-color: #00aaeb;
    border-color: #0098d2;
    color: #ffffff;
}
.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.text-uppercase {
    text-transform: uppercase;
}
a, button, a .icon, a .panel-body {
    -moz-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
    -o-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
    -webkit-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
    transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

.heading-small {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 0px;
}
.heading-large {
  margin-top: 0px;
  font-weight: bold;
}
i.fa.fa-user.fa-stack-1x,
i.fa.fa-question.fa-stack-1x {
    color:#00AAFD;
}

div.navbar-collapse.collapse > div > div:nth-child(2) > a,
div.navbar-collapse.collapse > div > div:nth-child(1) > a {
    color:white;
    font-weight:500;
    cursor: pointer;
    text-decoration:none;
}

div.btn-group.open a {
    font-weight:normal;
    text-decoration:none;
    box-shadow: none !important;
}

/* API tab styles */
div.card .nav-tabs  {
  border-bottom: 2px solid #DDD;
}

div.card .nav-tabs > li.active > a,
div.card .nav-tabs > li.active > a:focus,
div.card .nav-tabs > li.active > a:hover {
  border-width: 0;
}

div.card .nav-tabs > li > a {
    border: none;
    color: #666;
    font-weight: bold;
}

div.card .nav-tabs > li.active > a,
div.card .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
    font-weight: bold;
}

  div.card .nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    -moz-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  div.card .nav-tabs > li.active > a::after,
  div.card .nav-tabs > li:hover > a::after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

div.card .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff;
}

div.card .tab-pane {
    padding: 0;
}

div.card .tab-content {
  padding: 15px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div.card {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 10px 0;

}
/* END: API tab styles */

.form-data {
  padding: 5px 15px 5px;
  border-radius: 5px;
  background-color: #999;
  color: #fff;
}

div.row.col-md-4.well {
  margin: 0 15px;
}

@media (max-width: 527px) {
  div.row.col-md-4.well {
    margin: 15px 0;
  }
}
