@font-face {
  font-family: 'FoundersGroteskWeb-Semibold';
  src: url('../fonts/Founders/FoundersGroteskWeb-Semibold.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'FoundersGroteskWeb-Semibold';
  src: url('../fonts/Founders/FoundersGroteskWeb-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'FoundersGroteskWeb-Regular';
  src: url('../fonts/Founders/FoundersGroteskWeb-Regular.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'FoundersGroteskWeb-Regular';
  src: url('../fonts/Founders/FoundersGroteskWeb-Regular.woff') format('woff');
}
html {
  position: relative;
  min-height: 100%;
}
body {
  color: #3C4650;
  font-family: 'FoundersGroteskWeb-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857;
  padding-top: 120px;
  /*margin-top:120px;*/
  margin-bottom: 426px;
  /*Same as footer*/
}
h1, h2, h3, h4, h5, h6 {
  font-family: FoundersGroteskWeb-Regular;
}

label {
  margin-bottom: 0;
}
.container {
  padding-bottom: 20px;
  padding-top: 20px;
}
a {
  color: #00aaeb;
  text-decoration: none;
}

.img-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
a:hover, a:focus {
  color: #0085b8;
  text-decoration: underline;
}
.form-group {
  margin-bottom: 10px;
}
.form-action {
  width:95px;
  text-align:right;
}
#formCreate, #formLogin {
  width:280px;
}

.navbar {
  min-height: 88px;
}
.navbar-inverse {
  background-color: #00AAEB;
  background-image: none;
  border-color: #0085B8;
  margin-bottom: 0;
  min-height: 88px;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-brand {
  font-size: 32px;
  font-weight: 600;
  color: white;
  background-position-x: top;
  padding-left: 0;
  margin-top: -20px;
}
div.navbar-header > a.logo {
  width: 485px;
}
.barrel {
  border-left: 4px solid white;
  margin-right: 20px;
  padding-left: 15px;
  margin-left: 230px;
}
.marked {
  padding: 20px 0;
  margin: 20px 0;
}

/* Jumbotron */

.jumbotron {
  background-color: #fff;
  padding: 0;
}
.imgJumbo {
  min-height: 300px;
}

/* Hero */

.hero {
  padding-bottom: 30px;
}
.hero h1 {
  font-size: 81px;
  line-height: 0.875;
  margin-top: 0;
}
.hero h2 {
  font-size: 60px;
  line-height: 0.875;
  margin-top: 0;
}
.hero p {
  font-size: 26px;
  margin: 0 0 12.5px;
}

/* Startpage areas */

.area {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #00AAFD;
  margin: 0 auto;
  padding: inherit;
  color: white;
  text-align: center;
}
div.area.overview {
  margin: 20px 0 0 0;
}
.blueRow {
  background-color: #EBF7F7;
}
.rotate45 {
  /*filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
div .area {
  margin-top: 20px;
}
.area span {
  line-height: 90px;
}
i.fa.fa-user.fa-stack-1x, i.fa.fa-question.fa-stack-1x {
  color: #00AAFD;
}

/* Showcase area */

.showcase.panel {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 280px;
  text-transform: none;
  -moz-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
  -o-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
  -webkit-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
  transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
}
.showcase.panel:hover {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 280px;
  text-transform: none;
  -moz-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
  -o-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
  -webkit-transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
  transition: opacity 300ms linear 0s, transform 300ms ease-in-out 0s;
}
.panel-default {
  border-color: #dddddd;
}
.panel {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}
.showcase.panel a .panel-body {
  height: 100%;
}
a .panel-body {
  -moz-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
  -o-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
  -webkit-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
  transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
}
.panel-body {
  padding: 15px;
}
div.showcase.panel.panel-default {
  max-width:165px;
}
/* End Showcase area */

a.more {
  padding-right: 10px;
  float: left;
}
div.feed p a:before, div.no-row.clearfix h3 a.pull-right:before, a.more:before {
  padding-right: 5px;
  content: url('../img/png/icon_arrow_right16.png');
  height: 10px;
  width: 10px;
  vertical-align: middle;
}
div.feed p a:hover:before, div.no-row.clearfix h3 a.pull-right:hover:before, a.more:hover:before {
  padding-right: 5px;
  content: url('../img/png/icon_arrow_right16_dark.png');
}
.label-info {
  color: #3c4650;
  background-color: #fff7b4;
}
.label-info.date-short {
  display: inline-block;
  width: 56px;
  color: #3c4650 !important;
  margin-right: 10px;
  padding: 4px 0 4px 0;
  line-height: 1.5;
  font-weight: normal;
  background-color: #fff7b4 !important;
}
.truncate, .truncate *, .ellipsis, .ellipsis * {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
  /* TODO Change back if wrap on article h2 messes up: nowrap;*/
}
.truncate li .label-info + a, .truncate * li .label-info + a, .ellipsis li .label-info + a, .ellipsis * li .label-info + a {
  margin-left: -66px;
  padding-left: 66px;
}
.truncate a, .ellipsis a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.list-unstyled {
  line-height: 2;
}
ul.list-unstyled.truncate, ul.list-unstyled.ellipsis {
  line-height: 1.64;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Fixed height of footer, adjusted in @media */
  min-height: 426px;
}
footer {
  background-color: #00394d;
}
footer h1, footer .h1, footer h2, footer .h2, footer h3, footer .h3, footer .copyright {
  color: #aaaaaa;
}
footer a, footer .logo {
  color: white;
}
footer a:hover, footer a:focus {
  color: #00aaeb;
}
footer, footer .info {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .info {
  line-height: 2;
}
footer .info .logo {
  float: right;
}
footer .info .logo .icon {
  font-size: 54px;
}

/* End Footer */


/* Button styles */

button.btn {
  border: 1px solid transparent;
  padding-bottom: 10px;
  padding-top: 10px;
}
.hero a, .hero button {
  font-size: 18px;
}
.btn-primary {
  background-color: #00aaeb;
  border-color: #0098d2;
  color: #ffffff;
}
.btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
span.btn.btn-link {
  background-color: #75828A;
  color: #EBF7F7;
  padding-bottom: 10px;
  padding-top: 10px;
}
span.btn.btn-link:hover, span.btn.btn-link:active {
  background-color: #39464E
}
.text-uppercase {
  text-transform: uppercase;
}
a, button, a .icon, a .panel-body, span.btn.btn-link {
  -moz-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
  -o-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
  -webkit-transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
  transition: color 500ms ease-out 0s, background-color 500ms ease-out 0s, box-shadow 500ms ease-out 0s, opacity 500ms linear 0s, transform 500ms ease-in-out 0s;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
.heading-small {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 0;
}
.heading-large {
  margin-top: 0;
  font-weight: bold;
}
div.navbar-collapse.collapse > div > div:nth-child(2) > a, div.navbar-collapse.collapse > div > div:nth-child(1) > a {
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
div.btn-group.open a {
  font-weight: normal;
  text-decoration: none;
  box-shadow: none !important;
}

/* API tab styles */

div.card .nav-tabs {
  border-bottom: 2px solid #DDD;
}
div.card .nav-tabs > li.active > a, div.card .nav-tabs > li.active > a:focus, div.card .nav-tabs > li.active > a:hover {
  border-width: 0;
}
div.card .nav-tabs > li > a {
  border: none;
  color: #666;
  font-weight: bold;
}
div.card .nav-tabs > li.active > a, div.card .nav-tabs > li > a:hover {
  border: none;
  color: #00AAEB !important;
  background: transparent;
  font-weight: bold;
}
div.card .nav-tabs > li > a::after {
  content: "";
  background: #00AAEB;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  -moz-transition: all 250ms ease 0s;
  -o-transition: all 250ms ease 0s;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
div.card .nav-tabs > li.active > a::after, div.card .nav-tabs > li:hover > a::after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
div.card .tab-nav > li > a::after {
  background: #21527d none repeat scroll 0 0;
  color: #fff;
}
div.card .tab-pane {
  padding: 0;
}
div.card .tab-content {
  padding: 15px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
div.card {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 10px 15px 10px 0;
}

/* END: API tab styles */

.form-data {
  padding: 5px 15px 5px;
  border-radius: 5px;
  background-color: #999;
  color: #fff;
}
div.row.col-md-4.well {
  margin: 0 15px;
}
.dropdown-menu {
  min-width: 400px;
  z-index: 10000;
}
.dropdown-menu.user {
  padding: 20px;
  min-width: 220px;
  font-size: 20px;
}
.dropdown-menu.create {
  padding: 20px;
  min-width: 330px;
}
i.glyphicon.glyphicon-info-sign.text-info {
  vertical-align: top;
  font-size: 12px;
}
.code-highlight {
  font-family: monospace;
  background: #3c4650;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
span.fa-stack.fa-lg {
  margin: 0 8px;
}
i.fa.fa-bars {
  font-size: 30px;
  vertical-align: middle;
}

/* Page scoller */

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #265a88;
  color: #eeeeee;
  width: 60px;
  height: 60px;
  line-height: 48px;
  right: 20px;
  bottom: 20px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #00AAEB;
  opacity: 1.0 !important;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: .65;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
  padding-top:5px;
}
.fa.fa-envelope, .glyphicon.glyphicon-map-marker, .fa.fa-phone, .fa.fa-fax {
  color: #00aaeb;
}
.fa.fa-envelope.adress, .glyphicon.glyphicon-map-marker.adress, .fa.fa-phone.adress, .fa.fa-fax.adress {
  color: #3C4650;
}
.google-maps {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
nav#scroller {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 88px;
  background: #fff;
  padding-top: 48px;
}
nav#scroller .card li a.active {
  border-bottom: 3px solid #00AAEB;
  color: #00AAEB !important;
  background: transparent;
  font-weight: bold;
}
nav#scroller .card li a:hover {
  border-bottom: inset 3px solid #00AAEB;
  color: #00AAEB !important;
  background: transparent;
  font-weight: bold;
}
nav#scroller .card li:hover {
  border-bottom: none;
}
nav#scroller .card li a:not(.active) {
  background-color: white;
  color: rgb(120, 120, 120);
}
div.form-actions.noclick {
  padding-top: 20px;
}

/* Alert bar */

.alerter {
  position: relative;
  top: 0;
  height: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  padding: 0;
}
div.alerter > div .container {
  padding: 0;
}
.alertHeading {
  font-weight: bold;
  margin-right: 5px;
}
.top-alert .alert {
  height: 0;
}
.alert-success, .alert-danger {
  height: 55px;
}
#guides > section {
  padding-top: 120px;
}
.title {
  margin-bottom: -10px;
  color: #50B746;
}
.main-content {
  padding-bottom: 100px;
}
ul.fa-ul {
  margin-left: 5px;
}
a.ext:after {
  font-family: FontAwesome;
  content: "\f08e";
  font-size: 12px;
}
aside > section {
  margin-bottom: 30px;
}
aside > section {
  margin-bottom: 30px;
}
article.newsItem > footer {
  background-color: #edf7f6;
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
  font-size: .8em;
}
section#newsItemsList article {
  margin: 10px 10px 15px -15px;
  background-color: #edf7f6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
article.newsItem h1, article.newsItem h2, article.newsItem h3 {
  color: #00394d;
  margin-top: 5px;
}
.calDate {
  font-family: FoundersGroteskWeb-Regular;
  font-weight: bold;
  text-shadow: 1px 1px 1px #9A9C92;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 40px;
  display: inline-block;
  float: left;
  background-color: #fff;
  margin: -10px 6px 0 0;
  text-align: center;
  line-height: 1em;
  vertical-align: middle;
}
.calDate div.month {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: normal;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #00AAEB;
  color: #fff;
  width: 100%;
  height: 20px;
}
.calDate div.month.red {
  background-color: red;
}
.calDate div.month.green {
  background-color: #4DB848;
}
.calDate div.month.blue {
  background-color: #00AAEB;
}
div.fader {
  position: relative;
  left: 0;
  top: -10px;
  border-bottom: solid 2px #00394d;
  margin: -25px 0 0 0;
  padding: 0;
  width: 100%;
  height: 20px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZjdmNiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZjdmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(237, 247, 246, 0.5) 50%, rgba(237, 247, 246, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(237, 247, 246, 0.5)), color-stop(100%, rgba(237, 247, 246, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(237, 247, 246, 0.5) 50%, rgba(237, 247, 246, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(237, 247, 246, 0.5) 50%, rgba(237, 247, 246, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(237, 247, 246, 0.5) 50%, rgba(237, 247, 246, 1) 100%);
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#edf7f6', GradientType=0);*/
}
.toggleItem, .toggleItemBottom {
  float: right;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
span.toggleItem {
  margin: 10px 10px 0 20px;
}
section.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  margin: 10px 0;
}

/*#region Cards */

.cardSection {
  font-family: FoundersGroteskWeb-Regular;
  padding: 20px 10px;
  line-height: 1em;
}
.cardSection label {
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 14px;
}

/*#endregion */


/*#region Green card */

.greenCard {
  color: #fff;
  background-color: #4DB848;
  /*00394C*/
}
.greenCard .fa .fa-envelope, .greenCard h1, .greenCard h2, .greenCard h3 {
  color: #FFF9AE;
}
section.cardSection.greenCard > h1 > i {
  color: #FFF9AE;
}
section.cardSection.greenCard span.help-block {
  color: #FFF9AE;
}

/*#endregion */


/*#region VT labels */

.label-dark-gray, section.tags-dark-gray > span.label {
  background-color: #39464e;
  color: #EBF7F7;
}
label-dark-blue, section.tags-dark-blue > span.label {
  background-color: #00394d;
  color: #feefef;
}
label-blue, section.tags-blue > span.label {
  background-color: #00aeef;
  color: #feefef;
}
label-green, section.tags-green > span.label {
  background-color: #4db848;
  color: #fff9ae;
}

/*#endregion*/

@media (max-width: 767px) {
  body {
    margin-bottom: 935px;
    /*Same as footer*/
  }
  div.navbar-collapse.collapse {
    display: inline-block;
    float: right;
    border-top-style: none;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.1) inset;
    border-color: transparent !important;
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
    padding-right: 20px;
    z-index: 999999 !important;
  }
  .dropdown-menu.user {
    padding: 20px;
    min-width: 220px;
    font-size: 20px;
    margin-left: -15px;
  }
  div.row.col-md-4.well {
    margin: 15px 0;
  }
  .nav > li > a {
    padding: 10px 10px;
  }
  .create {
    padding: 20px;
    min-width: 330px;
  }
  .dropdown-menu.create {
    margin-left: -235px;
  }
  div.area.overview {
    margin: auto;
  }
  div.col-md-3.col-sm-6.overview {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  section#newsItemsList {
    margin-right: -15px;
  }
  section#newsItemsList article {
    margin-right: 0;
  }
  section.card.cardSection.greenCard {
    margin-left: -15px;
  }
  .jumbotron h1 {
    margin-left: 15px;
  }
  h1.ellipsis, h2.ellipsis, h3.ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 15px;
  }

  .navbar-header {
    float: left;
    padding-left: 10px;
  }
}

/*#region Article collapse styles */

.articleContent {
  position: relative;
  top: 0;
  left: 0;
  padding: 15px;
  margin: 0;
  -webkit-transition: max-height 700ms ease;
  -moz-transition: max-height 700ms ease;
  -o-transition: max-height 700ms ease;
  transition: max-height 700ms ease;
  border-top: 4px solid #00394d;
}
.newsItem .selectedItem {
  max-height: 1300px;
}
.newsItem {
  padding: 0 15px;
  max-height: 200px;
  display: inline-table;
  width: 100%;
}
article.newsItem > h2 {
  padding-bottom: 0;
}

/*#endregion */
.news-item-content {
  max-height: 5500px;
}
.news-item-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.news-item-content .img-section {
  text-align: center;
  padding: 10px;
}
.news-item-intro {
  overflow: hidden;
  max-height: 50px;
}
.animate-hide {
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  opacity: 1;
}
.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  color: #fff;
}
.container > .breadcrumb {
  margin-top: 3px;
}
.label {
  font-weight: 500;
  letter-spacing: 1px;
  margin-right:4px;
}
.sub-menu > li {
  background: #23282e !important;
}
.sub-menu > li > a {
  margin-left: 20px;
}
.home .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.full-justify {
  text-align: justify;
  -ms-text-justify: distribute;
  text-justify: distribute;
}
/* Styling for swagger-ui model */
.pad {
    line-height: 1.5em;
}
