<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="no-row">
            <h3>Utvecklarportalen</h3>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <ul class="list-unstyled truncate">
                    <li><a href="#" title="...">API</a></li>
                    <li><a href="#" title="...">Showcase</a></li>
                    <li><a href="#" title="...">Statistik</a></li>
                    <li><a href="#" title="...">Status</a></li>
                    <li><a href="#" title="...">Driftinfo</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2">
                <ul class="list-unstyled truncate">
                    <li><a href="#" title="...">Kom-igång</a></li>
                    <li><a href="#" title="...">Guider</a></li>
                    <li><a href="#" title="...">Support</a></li>
                    <li><a href="#" title="...">Verktyg</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2">
                <ul class="list-unstyled truncate">
                    <li><a href="#" title="...">Nyheter</a></li>
                    <li><a href="#" title="...">Blogg</a></li>
                    <li><a href="#" title="...">Kalender</a></li>
                    <li><a href="#" title="...">Forum</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2">
                <ul class="list-unstyled truncate">
                    <li><a href="#" title="...">Kontakt</a></li>
                    <li><a href="#" title="...">Villkor</a></li>
                    <li><a href="#" title="...">Cookies</a></li>
                    <li><a href="#" title="...">Sekretess</a></li>
                </ul>
            </div>
        </div>
        <div class="row row-centered info">
            <div class="col-xs-12 col-sm-6 col-centered col-max">
                <div class="copyright">© Copyright 2015, Västtrafik</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-centered col-max">
                <a class="logo" href="./Start - labs.vasttrafik.se_files/Start - labs.vasttrafik.se.html" title="...">
                    <svg class="icon icon-logo_vgr"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo_vgr"></use></svg>
                </a>
            </div>
        </div>
    </div>
</footer>