
<!doctype html>
<html ng-app="vtPortal" class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Västtrafik - Utvecklarportalen</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/angular-swagger-ui.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/slidemenu.css" />
  <link rel="stylesheet" href="css/bootsnipp.css" />
  <link rel="stylesheet" href="css/nga.all.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body id="body" ng-controller="MainCtrl as vm">

  <div id="menu_left" class="container sidebar sidebar-left">
    <div class="nav-side-menu" data-side="left">
      <div class="brand"><i class="fa fa-home fa-lg"></i> Start</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li data-toggle="collapse" data-target="#api" class="collapsed">
            <a href="javascript:void(0);">API<span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="api" style="height: 0;">
            <li><a href="#/apis">Våra apier</a></li>
          </ul>

          <li data-toggle="collapse" data-target="#showcase" data-parent="#menu-content" class="collapsed">
            <a href="javascript:void(0);">Showcase<span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="showcase" style="height: 0;">
            <li><a href="#">Reseplaneraren</a></li>
            <li><a href="#">Damnbus</a></li>
          </ul>

          <li data-toggle="collapse" data-target="#aktuellt" class="collapsed">
            <a class="accordion-toggle" href="javascript:void(0);">Aktuellt<span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="aktuellt" style="height: 0;">
            <li><a href="#">Aktuellt</a></li>
          </ul>

          <li>
            <a href="#">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="navbar navbar-inverse navbar-fixed-top" style="border: 0px">

    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand hidden-xs" href="#/">
          <img src="img/png/vt_brand_logo.png" alt="start" title="Startsida - Utvecklarportalen" />
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <div class="navbar-right">
          <!-- Logged in -->
          <div class="btn-group" ng-show="user.loggedIn">
            <a class="menu-user dropdown-toggle" data-toggle="dropdown">
              {{globals.currentUser.firstName + ' ' + globals.currentUser.lastName}}
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
              </span>

              <i class="fa fa-bars"></i>
            </a>
            <div class="dropdown-menu user">
              <div class="row">
                <div class="col-md-12">
                  <p>Mina sidor</p>
                  <a href="#/overview">Översikt</a>
                  <br />
                  <a href="#/profile">Min profil</a>
                  <br />
                  <a href="#/applications">Mina applikationer</a>
                  <br />
                  <a href="#/subscriptions">Mina prenumerationer</a>
                  <br />
                  <a href="#/" ng-click="vm.logout()">Logga ut</a>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <!-- Login/Create -->
          <div class="btn-group" ng-show="!user.loggedIn">
            <a class="dropdown-toggle logincreate" data-toggle="dropdown">
              <span ng-if="!user.create">
                Logga in
              </span>
              <span ng-if="user.create">
                Skapa konto
              </span>
            </a>
            <div class="dropdown-menu create">

              <form name="form" ng-submit="user.create ? vm.create() : vm.login()" role="form">
                <div ng-if="!user.create">
                  <div class="form-group" ng-class="{ 'has-error': login-form.username.$dirty && login-form.username.$error.required }">
                    <label for="username">Användarnamn</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Användarnamn är obligatoriskt</span>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Lösenord</label>
                    <span ng-click="vm.togglePasswordRecovery()" style="float:right;cursor:pointer;">Glömt ditt lösenord?</span>
                    <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Lösenord är obligatoriskt</span>
                  </div>
                  <div class="form-actions noclick">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Logga in</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <span ng-click="vm.toggleCreate()" class="btn btn-link">Skapa konto</span>
                  </div>
                </div>

                <div ng-if="user.create">
                  <div class="form-group" ng-class="{ 'has-error': form.{{entries.claimValue}}.$dirty && form.{{entries.claimValue}}.$invalid, 'has-success' : form.{{entries.claimValue}}.$valid}" ng-repeat="entries in vm.claims">
                    <label for="{{entries.claimValue}}">{{entries.description}}</label>
                    <input type="text" name="{{entries.claimValue}}" id="{{entries.claimValue}}" class="form-control" ng-model="vm.user[entries.claimValue].value" required />
                    <span ng-show="form.{{entries.claimValue}}.$dirty && form.{{entries.claimValue}}.$error.required" class="help-block">{{entries.description}} är obligatoriskt</span>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$invalid, 'has-success' : form.username.$valid}">
                    <label for="createUsername">Användarnamn</label>
                    <input type="text" name="createUsername" id="createUsername" class="form-control" ng-model="vm.user.username" ng-minlength="3" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Användarnamn är obligatoriskt</span>
                    <span ng-show="form.username.$error.minlength" class="help-block">Användarnamn måste vara minst 3 tecken långt</span>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$invalid, 'has-success' : form.password.$valid}">
                    <label for="createPassword">Lösenord</label>
                    <input type="password" name="createPassword" id="createPassword" class="form-control" ng-model="vm.user.password" ng-minlength="6" ng-maxlength="12" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*])).{6,12}$/" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Lösenord är obligatoriskt</span>
                    <span ng-show="form.password.$error.minlength" class="help-block">Lösenordet måste vara minst 6 tecken långt</span>
                    <span ng-show="form.password.$error.maxlength" class="help-block">Lösenordet får vara max 12 tecken långt</span>
                    <span ng-show="form.password.$error.pattern" class="help-block">Lösenordet måste innehålla en siffra[0-9], en liten bokstav [a-z], en stor bokstav [A-Z] och en av karraktärerna [!@#$%&]</span>
                  </div>
                  <div ng-password-strength="vm.user.password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
                  <div class="form-group" ng-class="{ 'has-error': form.passwordRepeat.$dirty && form.passwordRepeat.$invalid, 'has-success' : form.passwordRepeat.$valid}">
                    <label for="passwordRepeat">Upprepa lösenord</label>
                    <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" ng-model="vm.user.passwordRepeat" ui-validate=" '$value==vm.user.password' " ui-validate-watch=" 'vm.user.password' " required />
                    <span ng-show="form.passwordRepeat.$dirty && form.passwordRepeat.$error.required" class="help-block">Måste upprepa lösenordet</span>
                    <span ng-show="form.passwordRepeat.$dirty && form.passwordRepeat.$invalid" class="help-block">Lösenorden stämmer inte överrens</span>
                  </div>
                  <div class="form-actions noclick">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Skapa konto</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <span ng-click="vm.toggleCreate()" class="btn btn-link">Ångra</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-class="{ 'alert': alert, 'alert-success': alert.type === 'success', 'alert-danger': alert.type === 'error' }" ng-show="alert" style="margin-bottom: 0; border-radius: 0">
      <div class="container" style="padding: 0">
        <span ng-show="alert" ng-bind="alert.heading" style="font-weight: bold; margin-right: 5px;"></span>
        <span ng-show="alert" ng-bind="alert.message"></span>
        <button type="button" class="close" ng-show="alert">×</button>
      </div>
    </div>
  <div id="top"></div>
</div>
  <div ng-view></div>

  <footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <div class="row row-centered">
        <div class="col-xs-12 col-md12 col-centered">
          <h3>Utvecklarportalen</h3>
        </div>
      </div>

      <div class="row row-centered">
        <div class="col-sm-2 col-md-2 col-centered">
          <ul class="list-unstyled truncate">
            <li><a href="#/apis" title="...">API</a></li>
            <li><a href="#/" title="...">Showcase</a></li>
            <li><a href="#/" title="...">Statistik</a></li>
            <li><a href="#/" title="...">Status</a></li>
            <li><a href="#/" title="...">Driftinfo</a></li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-2 col-centered">
          <ul class="list-unstyled truncate">
            <li><a href="#/guides/get-started" title="...">Kom-igång</a></li>
            <li><a href="#/" title="...">Guider</a></li>
            <li><a href="#/" title="...">Support</a></li>
            <li><a href="#/" title="...">Verktyg</a></li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-2 col-centered">
          <ul class="list-unstyled truncate">
            <li><a href="#/" title="...">Nyheter</a></li>
            <li><a href="#/" title="...">Blogg (v2)</a></li>
            <li><a href="#" title="...">Kalender (v2)</a></li>
            <li><a href="#" title="...">Forum (v2)</a></li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-2 col-centered">
          <ul class="list-unstyled truncate">
            <li><a href="#" title="...">Kontakt</a></li>
            <li><a href="#" title="...">Villkor</a></li>
            <li><a href="#" title="...">Cookies</a></li>
            <li><a href="#" title="...">Sekretess</a></li>
          </ul>
        </div>
      </div>

      <div class="row row-centered info">
        <div class="col-xs-12 col-sm-6 col-centered">
          <div class="copyright">© Copyright 2015, Västtrafik</div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="logo" href="#/index.html" title="Västtrafik - En del av Västra Götalandsregionen">
            <img src="img/png/vt_vgr.png" alt="" />
          </a>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroller -->
  <div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
      <i class="fa fa-2x fa-arrow-up"></i>
    </span>
  </div>

  <!-- Final script referencing -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')
  </script>

  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/angular-route.min.js"></script>
  <script src="js/vendor/angular-sanitize.min.js"></script>
  <script src="js/vendor/angular-animate.min.js"></script>
  <script src="js/vendor/angular-validate.min.js"></script>
  <script src="js/vendor/angular-location-update.min.js"></script>
  <script src="js/vendor/angular-clipboard.js"></script>

  <script src="js/vendor/angular-swagger-ui.min.js"></script>
  <script src="js/vendor/swagger-external-references.min.js"></script>
  <script src="js/vendor/swagger1-to-swagger2-converter.min.js"></script>

  <script src="js/vendor/ng-password-strength.js"></script>
  <script src="js/vendor/lodash.min.js"></script>
  <script src="js/vendor/BootSideMenu.js"></script>

  <script src="js/main.js"></script>

  <script src="js/api/DefaultApi.js"></script>
  <script src="js/api/UserApi.js"></script>

  <script src="js/app/app.js"></script>

  <script src="js/app/services/authentication.service.js"></script>
  <script src="js/app/services/alert.service.js"></script>
  <script src="js/app/services/user.service.js"></script>
  <script src="js/app/services/api.service.js"></script>

  <script src="js/app/controllers/home.controller.js"></script>
  <script src="js/app/controllers/guides.controller.js"></script>
  <script src="js/app/controllers/profile.controller.js"></script>
  <script src="js/app/controllers/api.controller.js"></script>
  <script src="js/app/controllers/apis.controller.js"></script>
  <script src="js/app/controllers/applications.controller.js"></script>
  <script src="js/app/controllers/subscriptions.controller.js"></script>
  <script src="js/app/controllers/overview.controller.js"></script>

  <script src="js/app/controllers/activation.controller.js"></script>
  <script src="js/app/controllers/recover.controller.js"></script>

  <script>
    $(document).ready(function() {

      $(function() {
        $('.dropdown-menu, .dropdown-menu input, .noclick').click(function(event) {
          event.stopPropagation();
        });
      });

      $('.close').click(function(event) {
        angular.element(document.body).controller().clearAlertMessage();
      });

      $('#menu_left').BootSideMenu({
        side: "left",
        autoClose: true
      });

      $('.a-cog').hover(function() {
        $('.fa.fa-cog.fa-2x').addClass("fa-spin");
      }, function() {
        $('.fa.fa-cog.fa-2x').removeClass("fa-spin");
      });

      $('.nav-side-menu ul .sub-menu li a, .nav-side-menu li .sub-menu li a').on('click', function() {
        $('.toggler').click();
      });

      $('div.dropdown-menu.user a').on('click', function() {
        $('.menu-user').click();
      });

      $(document).on('scroll', function() {

        if ($(window).scrollTop() > 100) {
          $('.scroll-top-wrapper').addClass('show');
        } else {
          $('.scroll-top-wrapper').removeClass('show');
        }
      });

      $('.scroll-top-wrapper').on('click', scrollToTop);

      function scrollToTop() {
        verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('body');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({
          scrollTop: offsetTop
        }, 300, 'linear');
      }

    });
  </script>
</body>

</html>
