<div class="jumbotron title">
  <div class="container" style="padding-left: 0">
    <h1 class="sub-header">OAuth2, hur fungerar det?</h1>
  </div>
</div>

<div class="container" style="padding-top: 0">
  <section>
    <article>
      <h2>OAuth2 Inledning</h2>
      <p style="font-weight: bold;">
        Denna enkla guide är riktad till applikationsutvecklare och syftar till att ge en enkel beskrivning
        och översikt av roller, olika typer av auktorisering ("authorization grant types") och flöden som används av OAuth2.
      </p>
      <p>
        OAuth 2 är ramverk som gör att program kan få begränsad tillgång till användarkonton för HTTP-tjänster. 
        Det fungerar genom att delegera användarautentisering till tjänsten som är värd för användarkontot, 
        och aktoriserar tredjepartsprogram för att komma åt användarkontot.
      </p>
    </article>
    <article>
      <h2>OAuth roller</h2>
      OAuth definierar 4 roller:
      <ol>
        <li>Resursägare</li>
        <li>Klient</li>
        <li>Resursserver</li>
        <li>Auktoriseringsserver</li>
      </ol>
    </article>

    <article>
      <h2>Resursägare: Användare</h2>
      <p>
        Resursägare är användaren som godkänner en applikation att accessa dess konto.
        Vilken access till användarens konto som applikationen har bestäms av omfattningen 
        av den beviljade accessen (ex.v. skriv och/eller läsrättigheter).

        <!--The resource owner is the user who authorizes an application to access their account. 
        The application's access to the user's account is limited to the "scope" of the authorization 
        granted (e.g. read or write access).-->
        
        
      </p>
    </article>
    <article>
      <h2>Resurs-/Auktoriseringsserver: API</h2>
      <p>
        Resursservern är värd för dom skyddade användarkontona, och auktoriseringsservern verifierar 
        identiteten för användaren, och utfärdar access token för applikationen.
      </p>
      <p>
        För en applikationsutvecklare innebär detta att API:et för en tjänst uppfyller båda rollerna, 
        dvs agerar såväl resurs- som hanterar auktorisering (service eller api-roll).
        <!--The resource server hosts the protected user accounts, and the authorization server verifies the identity 
        of the user then issues access tokens to the application.

        From an application developer's point of view, a service's API fulfills both the resource and authorization 
        server roles. We will refer to both of these roles combined, as the Service or API role.-->
      </p>
    </article>
    <article>
      <h2>Klient: Applikationen</h2>
      <p>
        Klienten är applikationen som vill ha åtkomst till användarens konto.
        Före så kan ske, måste applikationen auktoriseras av användaren, och auktoriseringen måste 
        valideras av API:et. 

        <!--The client is the application that wants to access the user's account. 
        Before it may do so, it must be authorized by the user, and the authorization must be validated by the API.-->
      </p>
    </article>

    <article>
      <h2></h2>
      <p>

      </p>
    </article>
  </section>
</div>
