<div class="jumbotron title">
  <div class="container">
    <h1 class="sub-header">OAuth 2, hur fungerar det?</h1>
  </div>
</div>

<div class="container" style="padding-top: 0">
  <section>
    <article>
      <p style="font-weight: bold;">
        Västtrafiks API:er använder sig av autentiseringsstandarden OAuth 2. I tidigare versioner av Västtrafiks reseplanerar API användes "statiska nycklar" som skickades med i varje request, så fungerar dock inte OAuth 2. Läs därför denna guide för att förstå
        hur din implementation skall autentisera sig på bästa sätt.
      </p>
    </article>
    <article>
      <p>
        När du i utvecklarportalen skapat en applikation, så är det möjligt att skapa "initiala nycklar". Detta skapar en "nyckel" (key) och en "hemlighet" (secret). Med hjälp av dessa två är det möjligt att skapa access-tokens. Det är access-tokens som används
        för autentisering, de övriga värdena används endast för att skapa nya access-tokens.
      </p>
      <p>
        En access-token är en kortlivad autentiserings-token. Dvs, den är endast giltig en kort period (som längst kan den vara giltig i 1 timme). Efter 1 timme så måste en ny access-token genereras.
      </p>
      <p>
        Du genererar en ny access-token genom att skicka ett
        <strong>POST</strong>-anrop till <a href="https://api.vasttrafik.se/token">https://api.vasttrafik.se/token</a>
      </p>
    </article>
    <article>
      <h2>Steg 1: Generera token</h2>
      <pre class="code-highlight">
        POST <strong>https://api.vasttrafik.se/token</strong> HTTP/1.1
        Content-Type: <strong>application/x-www-form-urlencoded</strong>
        Authorization: <strong>Basic UmJseEkyeTFsWVNFTTZ0Z2J6anBTa2E0R1pzYTpaTWdKRHRjSlpEZXg5MmV1TGlBR1g4UTFSdVFh</strong>
        <strong>grant_type=client_credentials&scope=&lt;device_id&gt;</strong>
      </pre>
      <div class="alert alert-info" role="alert">
        <p>
        <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
          <strong>Notera att det i POST anropet används grant_type=client_credentials</strong>
        </p>
        <p>Det innebär att det skapas en access-token utefter just (nyckel:hemlighet) som är Base64 encodat i headern
          <strong>Authorization</strong> i requesten.</p>
      </div>
      <div class="alert alert-warning" role="alert">
        <p>
        <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
          <strong>Var noggrann med att använda rätt scope=&lt;device_id&gt;</strong>
        </p>
        <p>Det kan endast finnas en aktiv nyckel i varje scope. Det är därför viktigt att sätta ett unikt scope för varje enskild användare (scope=&lt;device_id&gt;).</p>
        <p>Skapar du t.ex en app eller hemsida som skall distribueras så behöver varje unik användare få ett eget scope när nyckeln skapas för bästa hantering.</p>
        <p><strong>När en ny nyckel skapas så invalideras tidigare nyckel i samma scope!</strong></p>
      </div>
      Ovanstående anrop ger följande svar ifrån servern (default expiry = 1 timme):
      <pre class="code-highlight">
        {
          "scope": ”&lt;scope&gt;",
          "token_type": "Bearer",
          "expires_in": 3600,
          "refresh_token": "ebfc4b5bd6a531ccdee49b407341293d",
          "access_token": "766b697f4462ca3878b05597ff19313"
        }
      </pre>
    </article>
    <article>
      <h2>Steg 2: Använd token</h2>
      <pre class="code-highlight">
        GET http://api.vasttrafik.se/bin/rest.exe/v2/location.name?input=ols&format=json HTTP/1.1
        Authorization: <strong>Bearer 766b697f4462ca3878b05597ff19313</strong>
      </pre>
      <div class="alert alert-info" role="alert">
        <p>
        <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
          <strong>Notera Authorization headern</strong>
        </p>
        <p>Detta är den access_token som återficks i steg 1, med token-type prefixet "Bearer "</p>
      </div>
    </article>
    <article>
      <h2>Steg 3: Förnya token</h2>
      <p>
        När en access-token gått ut kan en ny enkelt skapas genom att upprepa steg 1.
      </p>
    </article>
    <article>
      <h2>Återkalla token</h2>
      Det är möjligt att invalidera en token för att göra den ogiltig. Detta är dock inte ett steg som behöver användas i autentiseringskedjan.
      <pre class="code-highlight">
        POST <strong>http://api.vasttrafik.se/revoke</strong> HTTP/1.1
        Content-Type: <strong>application/x-www-form-urlencoded</strong>
        Authorization: <strong>Basic UmJseEkyeTFsWVNFTTZ0Z2J6anBTa2E0R1pzYTpaTWdKRHRjSlpEZXg5MmV1TGlBR1g4UTFSdVFh</strong>
        <strong>token=766b697f4462ca3878b05597ff19313</strong>
      </pre>
    </article>

    <article>
      <h2>Summering</h2>
      <p>
        Generera en ny access-token med hjälp av nyckel och hemlighet i rätt unika scope. Använd access-token i 1 timme. Skapa sedan en ny access-token.
      </p>
    </article>
    <article>
      <h2>Länkar till resurser rörande OAuth</h2>
      För den som vill läsa på ytterligare om OAuth återfinns mer information nedan:
      <ul class="fa-ul">
        <li>
          <a class="ext" href="http://tools.ietf.org/html/rfc6749" target="_blank" title="Till IETF (i nytt fönster)">
            IETF RFC6749, spec för OAuth
          </a>
        </li>
      </ul>
    </article>

  </section>
</div>
