<div class="jumbotron title" style="margin-bottom: -30px;">
  <div class="container" style="padding-left: 0">
    <h1>Aktivera ditt konto</h1>
  </div>
</div>

<div class="container">

<div class="row">

  <div class="alert alert-warning"role="warning">
      <p>De personuppgifter och fakta som Västtrafik lagrar kring ditt konto och API-användning är:</p>
      <br/>
      <ul>
        <li>Användarnamn / förnamn / efternamn / e-postadress</li>
        <li>Statistik kring användning av API:er summerade / sekund</li>
      </ul>
      <br/>
      <p>Detta görs för att kunna presentera statistik och hjälpsam information för dig och din användning av våra API:er, samt för att kunna utveckla Västtrafiks API:er.</p>
      <p>Du kan när som helst själv radera ditt konto ifrån portalen och då få all data och statistik anonymiserad.</p>
  </div>

</div>

  <div class="row">

    <div class="container" style="padding-bottom: 100px;">
      <div class="row well">
        <form name="activateAccountForm" ng-submit="vm.activateAccount()" role="form">
          <div class="form-group">
            <label for="name">Användarnamn</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.form.activation.username" disabled required />
          </div>
          <div class="form-group" ng-class="{ 'has-error': activateAccountForm.code.$dirty && activateAccountForm.code.$invalid,
  'has-success' : activateAccountForm.code.$valid}">
            <label for="code">Kod</label>
            <input type="text" name="code" id="code" class="form-control" ng-model="vm.form.activation.code" required />
            <span ng-show="activateAccountForm.code.$dirty && activateAccountForm.code.$error.required" class="help-block">Kod är obligatoriskt</span>
          </div>
          <div class="form-group">
            <img src="{{vm.captcha}}">
            <i class="fa fa-refresh" style="margin-left: 20px; cursor: pointer" ng-click="vm.generateCaptcha()"></i>
          </div>
          <div class="form-group" ng-class="{ 'has-error': activateAccountForm.captcha.$dirty && activateAccountForm.captcha.$invalid,
  'has-success' : activateAccountForm.captcha.$valid}">
            <label for="name">Captcha</label>
            <input type="text" name="captcha" id="captcha" class="form-control" ng-model="vm.form.activation.captcha" required />
            <span ng-show="activateAccountForm.captcha.$dirty && activateAccountForm.captcha.$error.required" class="help-block">Captcha är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="activateAccountForm.$invalid || vm.dataLoadingActivation" class="btn btn-primary">Aktivera konto</button>
            <img ng-if="vm.dataLoadingUpdateApplication" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
