
  <div class="container">
    <h1 class="sub-header">{{vm.api.name}} - v.{{vm.api.version}}</h1>

    <div class="row col-md-2">
      <!--Image-->
      <img src="{{vm.api.imageUrl}}" alt="image..." />
    </div>

    <div class="row col-md-6 ">
      <!-- Base facts -->
      <label for="version">Beskrivning:</label> En ganska lång beskrivning så man ser när texten inte radbryter på små enheter så det inte blir fel i vertikal positionering när man skriver mycket men egentligen ska det stå {{entry.description}} här men den kan säkert vara ganska lång för den som är tjötig du vet...<br />

      <label for="version">Version:</label> {{vm.api.version}}<br />

      <label for="status">Status:</label> {{vm.api.status}}<br>

      <label for="updated">Uppdaterad:</label> {{vm.api.updated}}
    </div>

    <div ng-show="user.loggedIn" class="row col-md-4">
      <!-- If user logged in, subscribe -->
      Subscribe if logged in...
    </div>
    <div ng-show="!user.loggedIn" class="row col-md-4">
      <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-info-sign">&nbsp;</span>Logga in för att kunna prenumerera på detta API!
      </div>
    </div>
  </div>

<div class="container">
  <div class="row col-md-12">
    <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#apiOverview" target="_self" aria-controls="home" role="tab" data-toggle="tab">Översikt</a>
        </li>
        <li role="presentation">
          <a href="#apiDocs" target="_self" aria-controls="profile" role="tab" data-toggle="tab">Dokumentation</a>
        </li>
        <li role="presentation">
          <a href="#apiConsole" target="_self" aria-controls="messages" role="tab" data-toggle="tab">API-konsol</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="apiOverview">
          <h3>URL:er</h3>
          <label for="production">Produktion</label>
          <div id="production" class="well well-sm">{{vm.api.endpoint.production[0]}}</div>

          <label for="sandbox">Test</label>
          <div id="sandbox" class="well well-sm">{{vm.api.endpoint.sandbox[0]}}</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="apiDocs">
          Inga dokument har ännu blivit associerade med detta API!
        </div>

        <div role="tabpanel" class="tab-pane disabled" id="apiConsole">
          API-konsolen
          <div ng-if="!user.loggedIn" class="alert alert-warning">
            <span class="glyphicon glyphicon-info-sign">&nbsp;</span>Du behöver ett access token för att testa detta API. Var vänlig logga in och prenumerera på API
            för att generera ett access token. Om du redan har ett token, var vänlig ange det nedan.
          </div>


          <label for="requestHeader">Sätt Request Header</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Authorization: Bearer </span>
            <input type="text" class="form-control" id="requestHeader" aria-describedby="basic-addon3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>