<!-- Main jumbotron for a primary marketing message or call to action -->
<h2>Våra API:er</h2>

<div class="container-fluid" style="margin-top:90px;">
  <div class="container">
    <div class="row">
      <!--<table class="table table-hover table-striped" style="width:900px">-->
      <h2 class="sub-header">API</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><!--Img--></th>
              <th>Namn</th>
              <th class="hidden-xs">Beskrivning</th>
              <th class="hidden-xs">Context</th>
              <th>Version</th>
              <th class="hidden-xs">Provider</th>
              <th class="hidden-xs">Status</th>
              <th>
                <!--Edit-->
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entries in vm.apis">
              <td>
                <img src="{{entries.imageUrl}}" style="width:40px;height:40px" alt="link to img..." />
              </td>
              <td>
                {{entries.name}}
              </td>
              <td class="hidden-xs">
                {{entries.description}}
              </td>
              <td class="hidden-xs">
                {{entries.context}}
              </td>
              <td>
                {{entries.version}}
              </td>
              <td class="hidden-xs">
                {{entries.provider}}

              </td>
              <td class="hidden-xs">
                {{entries.status}}
              </td>
              <td>
                <a href="#/api/1" title="Detailjer..."><span class="glyphicon glyphicon-edit"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--{
      "name": "SPP",
      "description": "Smart pendelparkering",
      "imageUrl": "someUrl",
      "context": "/spp",
      "version": "1.0",
      "provider": "",
      "swagger": "",
      "status": "",
      "responseCaching": "",
      "lastModifiedDate": "",
      "isDefaultVersion": true,
      "transport": [],
      "tier": "",
      "visibility": "",
      "endpoint": {
      "type": "http",
      "production": [],
      "sandbox": []
      }
      }-->
    </div>
  </div>
</div>
