<div class="jumbotron title">
  <div class="container" style="padding-left: 0">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li class="active">Våra API:er</li>
    </ol>
    <h1 class="sub-header">Våra API:er</h1>
  </div>
</div>

<div class="container-fluid" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="hidden-xs">
                <!--Img-->
              </th>
              <th>Namn</th>
              <th class="hidden-xs">Beskrivning</th>
              <th>Status</th>
              <th class="hidden-xs">Version</th>
              <th style="min-width: 130px">Aktioner</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entries in vm.apis"  class="nga-default nga-fade">
              <td class="hidden-xs">
                <img ng-src="{{entries.imageSrc}}" style="width:25px;height:25px" />
              </td>
              <td><span ng-click="vm.displayApi(entries.name, entries.version, entries.provider)" style="cursor: pointer" title="Visa detaljer">{{entries.name}}</span></td>
              <td class="hidden-xs" ng-bind-html="entries.description"></td>
              <td>
                <span class="label" ng-class="{ 'label-danger': entries.status=='DEPRECATED','label-success':entries.status=='PUBLISHED','label-warning':entries.status == 'PROTOTYPED'}">
                  {{entries.status}}
                </span>
              </td>
              <td class="hidden-xs">{{entries.version}}</td>
              <td>
                <span ng-click="vm.displayApi(entries.name, entries.version, entries.provider)" style="cursor: pointer" title="Visa detaljer">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="hidden-xs">Visa detaljer</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
