
<div class="container-fluid" style="padding-bottom: 200px" ng-cloak>
  <div class="container">
    <div class="row">
      <h1 class="sub-header">Våra API</h1>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="hidden-xs">
                <!--Img-->
              </th>
              <th>Namn</th>
              <th>Beskrivning</th>
              <th class="hidden-xs">Context</th>
              <th>Version</th>
              <th class="hidden-xs">Provider</th>
              <!--<th class="hidden-xs">Status</th>-->
              <th>
                Aktioner
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entries in vm.apis">
              <td class="hidden-xs">
                <img src="{{entries.imageUrl}}" style="width:40px;height:40px" alt="link to img..." />
              </td>
              <td>
                {{entries.name}}
              </td>
              <td>
                {{entries.description}}
              </td>
              <td class="hidden-xs">
                {{entries.context}}
              </td>
              <td>
                {{entries.version}}
              </td>
              <td class="hidden-xs">
                {{entries.provider}}

              </td>
              <!--<td class="hidden-xs">
                {{//entries.status}}
              </td>-->
              <td>
                <span ng-click="vm.displayApi(entries.name, entries.version, entries.provider)" style="cursor: pointer" title="Visa detaljer">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="hidden-xs">Visa detaljer</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
