<div class="jumbotron title">
  <div class="container" style="padding-left: 0">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li><a href="#/overview" target="_self">Mina sidor</a></li>
      <li class="active">Mina applikationer</li>
    </ol>
    <h1>Mina applikationer</h1>
  </div>
</div>

<div class="container" ng-show="vm.applications.length == 0">
  <div class="row">
    <h3>Du har för närvarande inga applikationer. Skapa en ny applikation genom att fylla i formuläret nedan.</h3>
  </div>
</div>

<div class="container" ng-show="vm.applications.length > 0">
  <div class="row">
    <table class="table table-hover table-striped">
      <thead class="table-header">
        <tr>
          <th>Namn</th>
          <th>Beskrivning</th>
          <th colspan="3">Aktioner</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entries in vm.applications | orderBy:'name'" class="nga-default nga-fade">
          <td>
            <span ng-click="vm.addApplicationUpdate(entries.id)" style="cursor: pointer">{{entries.name | limitTo:50}}</span>
          </td>
          <td>
            <span ng-bind-html="entries.description | limitTo:60"></span>
          </td>
          <td>
            <span ng-click="vm.addApplicationDetails(entries.id)" style="cursor: pointer" title="Visa detaljer">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="hidden-xs">Hantera nycklar</span>
            </span>
          </td>
          <td>
            <span ng-click="vm.addApplicationUpdate(entries.id)" style="cursor: pointer" title="Uppdatera">
              <span class="glyphicon glyphicon-edit"></span>
              <span class="hidden-xs">Uppdatera</span>
            </span>
          </td>
          <td>
            <span ng-click="vm.removeApplication(entries.id)" style="cursor: pointer" title="Ta bort">
              <span class="glyphicon glyphicon-trash"></span>
              <span class="hidden-xs">Ta bort</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div ng-show="!vm.form.application.update && !vm.form.application.details">
  <div class="container" style="padding-left: 0; padding-bottom: 0">
    <h2>Skapa ny applikation</h2>
  </div>

  <div class="container" style="padding-bottom: 20px;">
    <div class="row well">
      <form name="addApplicationForm" ng-submit="vm.addApplication()" role="form">
        <div class="form-group" ng-class="{ 'has-error': addApplicationForm.name.$dirty && addApplicationForm.name.$invalid,
'has-success' : addApplicationForm.name.$valid}">
          <label for="name">Namn</label>
          <input type="text" name="name" id="name" class="form-control" ng-model="vm.form.application.add.name" required />
          <span ng-show="addApplicationForm.name.$dirty && addApplicationForm.name.$error.required" class="help-block">Namn är obligatoriskt</span>
        </div>
        <div class="form-group">
          <label for="description">Beskrivning</label>
          <textarea id="description" maxlength="400" type="text" class="form-control" ng-model="vm.form.application.add.description"></textarea>
        </div>

        <div class="form-actions noclick">
          <button type="submit" ng-disabled="addApplicationForm.$invalid || vm.dataLoadingAddApplication" class="btn btn-primary">Skapa</button>
          <span ng-click="vm.resetAddApplicationForm();" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
  </div>
</div>

<div ng-show="vm.form.application.update">
  <div class="container" style="padding-left: 0; padding-bottom: 0px">
    <h2>Uppdatera applikationen {{vm.form.application.update.name}}</h2>
  </div>

  <div class="container" style="padding-bottom: 20px;">
    <div class="row well">
      <form name="updateApplicationForm" ng-submit="vm.updateApplication()" role="form">
        <div class="form-group" ng-class="{ 'has-error': updateApplicationForm.name.$dirty && updateApplicationForm.name.$invalid,
    'has-success' : updateApplicationForm.name.$valid}">
          <label for="name">Namn</label>
          <input type="text" name="name" id="updateName" class="form-control" ng-model="vm.form.application.update.name" required />
          <span ng-show="updateApplicationForm.name.$dirty && updateApplicationForm.name.$error.required" class="help-block">Namn är obligatoriskt</span>
        </div>
        <div class="form-group">
          <label for="description">Beskrivning</label>
          <textarea id="updateDescription" maxlength="400" type="text" class="form-control" ng-model="vm.form.application.update.description"></textarea>
        </div>

        <div class="form-actions noclick">
          <button type="submit" ng-disabled="updateApplicationForm.$invalid || vm.dataLoadingUpdateApplication" class="btn btn-primary">Uppdatera</button>
          <span ng-click="vm.resetUpdateApplicationForm();" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
  </div>
</div>

<div ng-show="!vm.form.application.update && vm.form.application.details">
  <div class="container" style="padding-left: 0; padding-bottom: 0px">
    <h2>Nyckelhantering för applikationen {{vm.form.application.details.name}}</h2>
  </div>

  <div class="container" style="padding-bottom: 20px;">

    <div class="row well" ng-show="!vm.form.application.details.consumerKey">

      <h3>Generera dina första nycklar genom att fylla i formuläret nedan.</h3><br />

      <form name="detailsApplicationGenerateTokenForm" ng-submit="vm.detailsApplicationGenerateToken(vm.form.application.details.id)" role="form">

        <div ng-if="!vm.notAllowedToGenerateToken && vm.subscriptions">
          <div class="form-group" ng-class="{ 'has-error': detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$dirty && detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$invalid,
    'has-success' : detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$valid}">
            <label for="validityTime">Giltighetstid för access token</label>
            <div class="input-group">

              <input type="number" name="validityTimeGenerateToken" id="validityTimeGenerateToken" class="form-control" ng-model="vm.form.application.details.generateToken.validityTime" required min="1" max="3600" />
              <span class="input-group-addon">Sekunder</span>
            </div>
            <span ng-show="detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$dirty && detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$invalid" class="help-block">Måste vara ett nummer större än 0 och som högst 3600 sekunder</span>
            <span ng-show="detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$dirty && detailsApplicationGenerateTokenForm.validityTimeGenerateToken.$error.required" class="help-block">Giltighetstid är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="detailsApplicationGenerateTokenForm.$invalid || vm.dataLoadingDetailsApplication" class="btn btn-primary">Generera initiala nycklar</button>
            <span ng-click="vm.resetDetailsApplicationForm();" class="btn btn-link">Stäng</span>
          </div>

        </div>

        <div ng-if="vm.notAllowedToGenerateToken" style="color: #a94442">
          Din applikation prenumererar på ett API med status DEPRECATED. Det gör det inte möjligt att skapa en ny nyckel för din applikation.
        </div>

        <div ng-if="vm.subscriptionsRetrieved && !vm.subscriptions" style="color: #a94442">
          Det är inte möjligt att generera en ny nyckel när det är problem att hämta listan med prenumerationer.
        </div>

      </form>
    </div>


    <div class="row well" ng-show="vm.form.application.details.consumerKey">
      <form name="detailsApplicationForm" ng-submit="vm.detailsApplication(vm.form.application.details.id)" role="form">

        <div class="form-group">
          <label for="consumerKey">Nyckel</label>
          <div id="consumerKey" class="form-data">
            {{vm.form.application.details.consumerKey}}
            <span clipboard text="vm.form.application.details.consumerKey" on-copied="vm.copySuccess('Nyckel')" class="fa fa-files-o" style="float:right; cursor: pointer"></span>
          </div>
        </div>

        <div class="form-group">
          <label for="consumerSecret">Hemlighet</label>
          <div id="consumerSecret" class="form-data">
            {{vm.form.application.details.consumerSecret}}
            <span clipboard text="vm.form.application.details.consumerSecret" on-copied="vm.copySuccess('Hemlighet')" class="fa fa-files-o" style="float:right; cursor: pointer"></span>
          </div>
        </div>

        <div class="form-group">
          <label for="description">AccessToken</label>
          <div id="accessToken" class="form-data">
            {{vm.form.application.details.accessToken}}
            <span clipboard text="vm.form.application.details.accessToken" on-copied="vm.copySuccess('AccessToken')" class="fa fa-files-o" style="float:right; cursor: pointer"></span>
          </div>
        </div>

        <div ng-if="!vm.notAllowedToGenerateToken && vm.subscriptions">
          <div class="form-group" ng-class="{ 'has-error': detailsApplicationForm.validityTime.$dirty && detailsApplicationForm.validityTime.$invalid,
    'has-success' : detailsApplicationForm.validityTime.$valid}">
            <label for="description">Giltighetstid för access token</label>
            <div class="input-group">

              <input type="number" name="validityTime" id="validityTime" class="form-control" ng-model="vm.form.application.details.validityTime" required min="1" max="3600" />
              <span class="input-group-addon">Sekunder</span>
            </div>
            <span ng-show="detailsApplicationForm.validityTime.$dirty && detailsApplicationForm.validityTime.$invalid" class="help-block">Måste vara ett nummer större än 0 och som högst 3600 sekunder</span>
            <span ng-show="detailsApplicationForm.validityTime.$dirty && detailsApplicationForm.validityTime.$error.required" class="help-block">Giltighetstid är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="detailsApplicationForm.$invalid || vm.dataLoadingDetailsApplication" class="btn btn-primary">Generera ny access token</button>
            <span ng-click="vm.resetDetailsApplicationForm();" class="btn btn-link">Stäng</span>
          </div>

        </div>

        <div ng-if="vm.notAllowedToGenerateToken" style="color: #a94442">
          Din applikation prenumererar på ett API med status DEPRECATED. Det gör det inte möjligt att skapa en ny nyckel för din applikation.
        </div>

        <div ng-if="vm.subscriptionsRetrieved && !vm.subscriptions" style="color: #a94442">
          Det är inte möjligt att generera en ny nyckel när det är problem att hämta listan med prenumerationer.
        </div>

      </form>
    </div>

    <div class="row" ng-if="!vm.notAllowedToGenerateToken && vm.form.application.details.consumerKey">
      <h3>Curl kommando för client credential grant</h3>
      <div class="code-highlight">
        <span clipboard text="vm.curl.client" on-copied="vm.copySuccess('Grant')" class="fa fa-files-o" style="float:right; cursor: pointer"></span>
        {{vm.curl.client}}
      </div>
    </div>
    <div class="row" ng-if="!vm.notAllowedToGenerateToken && vm.form.application.details.consumerKey">
      <h3>Curl kommando för lösenord grant</h3>
      <div class="code-highlight">
        <span clipboard text="vm.curl.password" on-copied="vm.copySuccess('Grant')" class="fa fa-files-o" style="float:right; cursor: pointer; margin-left: 20px;"></span>
        {{vm.curl.password}}
      </div>
    </div>
  </div>
</div>
