<div class="jumbotron title">
  <div class="container no-padding-left">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li><a href="#/community" target="_self">Community</a></li>
      <li><a href="#/community/category/{{vm.topic.categoryId}}" target="_self">{{vm.topic.categoryName}}</a></li>
      <li><a href="#/community/forum/{{vm.topic.forumId}}" target="_self">{{vm.topic.forumName}}</a></li>
      <li class="active">{{vm.topic.subject}}</li>
    </ol>

    <!-- Subject -->
    <span class="pull-right pointer" ng-if="vm.topic.createdBy.id === globals.currentUser.memberId && vm.topic.numberOfPosts < 2" ng-click="vm.removeTopic()"><i class="fa fa-trash"></i></span>
    <span class="pull-right margin-right-mini pointer" ng-if="vm.topic.createdBy.id === globals.currentUser.memberId" ng-click="vm.addTopicUpdate()"><i class="fa fa-pencil-square-o"></i></span>

    <h1 ng-if="!vm.toggleTopicUpdate">{{vm.topic.subject}}</h1>

    <div ng-if="vm.toggleTopicUpdate">
      <form name="updateTopicForm" ng-submit="vm.updateTopic()" role="form">
        <div class="form-group" ng-class="{ 'has-error': updateTopicForm.subject.$dirty && updateTopicForm.subject.$invalid,
  'has-success' : updateTopicForm.subject.$valid}">
          <input type="text" name="subject" id="subject" class="form-control" ng-model="vm.form.subject" maxlength="50" required />
        </div>

        <div class="form-actions pull-right">
          <button type="submit" ng-disabled="updateTopicForm.$invalid || vm.dataLoadingUpdateTopic" class="btn btn-primary">Uppdatera</button>
          <span ng-click="vm.toggleTopicUpdate = false" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
    <!-- End subject -->
  </div>
</div>

<div class="container">
  <div class="row padding-top-bottom" ng-class="$index !== 0 ? 'border-top' : ''" ng-repeat="entries in vm.topic.posts" ng-if="entries.type === 'answer' || entries.type === 'question'">
    <div class="col-md-12">

      <!-- Main post if not deleted -->
      <div ng-if="!entries.isDeleted && vm.togglePostsCommentsUpdate.indexOf(entries.id) === -1">
        <div class="row padding-bottom-mini">
          <span ng-if="!entries.createdBy.useGravatar" class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x color-blue"></i>
                      <i class="fa fa-user fa-stack-1x fa-inverse color-white"></i>
          </span>
          <img ng-if="entries.createdBy.useGravatar" src="http://www.gravatar.com/avatar/{{entries.createdBy.email | hash}}?s=45" class="avatar margin-right-mini fa-stack">
          <a href="signature" class="padding-right-mini">{{entries.createdBy.signature}}</a>&bull;
          <span class="margin-left-mini">{{entries.createDate | relativeDate}}</span>
          <span ng-if="entries.numberOfTimesEdited > 0" class="margin-left-mini"><span class="margin-right-mini">&bull;</span> Editerad {{entries.editDate | relativeDate}}</span>
          <span class="pull-right pointer" ng-if="entries.createdBy.id === globals.currentUser.memberId" ng-click="vm.removePost(entries.id)"><i class="fa fa-trash"></i></span>
          <span class="pull-right pointer margin-right-mini" ng-if="entries.createdBy.id === globals.currentUser.memberId" ng-click="vm.addPostCommentUpdate(entries.id)"><i class="fa fa-pencil-square-o"></i></span>
        </div>

        <div class="row simple-well margin-bottom-mini" ng-if="$index === 0 || vm.topic.answeredByPostId || vm.topic.createdBy.id !== globals.currentUser.memberId" ng-class="entries.isAnswer ? 'answer' : ''" btf-markdown="entries.text"></div>
        <div class="row simple-well margin-bottom-mini pointer" ng-if="$index !== 0 && !vm.topic.answeredByPostId && vm.topic.createdBy.id === globals.currentUser.memberId" ng-class="entries.isAnswer ? 'answer' : 'not-answer'" ng-click="vm.setAnswer(entries.id)" btf-markdown="entries.text">
        </div>
      </div>
      <!-- End main post if not deleted -->

      <!-- Edit main post -->
      <div ng-if="!entries.isDeleted && vm.togglePostsCommentsUpdate.indexOf(entries.id) !== -1" class="row well">
        <form name="updatetPostForm" ng-submit="vm.updatePost(entries.id)" role="form">
          <div class="form-group" ng-class="{ 'has-error': updatePostForm.answer.$dirty && updatePostForm.answer.$invalid,
'has-success' : updatePostForm.answer.$valid}">
            <label for="post{{entries.id}}" ng-if="$index === 0">Fråga</label>
            <label for="post{{entries.id}}" ng-if="$index !== 0">Svar</label>
            <span class="pull-right" style="font-size: 0.9em"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheat Sheet</a></span>
            <textarea id="post{{entries.id}}" type="text" class="form-control" ng-model="vm.form.posts[entries.id]" style="height: 100px; margin-bottom: 20px" required></textarea>
            <label for="description" ng-show="vm.form.posts[entries.id]">Förhandsgranskning</label>
            <div btf-markdown="vm.form.posts[entries.id]">
            </div>
          </div>

          <div class="form-actions noclick" style="float: right">
            <button type="submit" ng-disabled="updatePostForm.$invalid" class="btn btn-primary">Uppdatera</button>
            <span ng-click="vm.togglePostCommentUpdate(entries.id)" class="btn btn-link">Ångra</span>
          </div>
        </form>
      </div>
      <!-- End edit main post -->

      <!-- Main post if deleted -->
      <div ng-if="entries.isDeleted" class="row simple-well margin-bottom-mini">
        <p>Svaret borttaget av användaren {{entries.modifiedDate | relativeDate}}</p>
      </div>
      <!-- End main post if deleted -->

      <!-- Comments to main post -->
      <div ng-class="$index !== 0 ? 'border-top' : ''" ng-repeat="comment in vm.topic.posts | limitTo:vm.topic.posts.length-$parent.$index:$parent.$index+1" ng-if="comment.commentTo.id === entries.id" style="padding-bottom: 10px;">
        <div ng-if="!comment.isDeleted && vm.togglePostsCommentsUpdate.indexOf(comment.id) === -1">
          <a href="something" class="padding-right-mini">{{comment.createdBy.signature}}</a>&bull;
          <span class="margin-left: 5px">{{comment.createDate | relativeDate}}</span>
          <span class="pull-right pointer" ng-if="comment.createdBy.id === globals.currentUser.memberId" ng-click="vm.removePost(comment.id, true)"><i class="fa fa-trash"></i></span>
          <span  class="pull-right pointer margin-right-mini" ng-if="comment.createdBy.id === globals.currentUser.memberId" ng-click="vm.addPostCommentUpdate(comment.id)"><i class="fa fa-pencil-square-o"></i></span>
          <div btf-markdown="comment.text">
          </div>
        </div>
        <div ng-if="!comment.isDeleted && vm.togglePostsCommentsUpdate.indexOf(comment.id) !== -1">
          <form name="updateCommentForm{{comment.id}}" ng-submit="vm.updatePost(comment.id)" role="form">
            <div class="form-group" ng-class="{ 'has-error': updateCommentForm{{comment.id}}.comment.$dirty && updateCommentForm{{comment.id}}.comment.$invalid,
      'has-success' : updateCommentForm{{comment.id}}.comment.$valid}">
              <input type="text" name="comment" id="comment{{comment.id}}" class="form-control" ng-model="vm.form.posts[comment.id]" required></input>
            </div>

            <div class="form-actions text-right">
              <button type="submit" ng-disabled="updateCommentForm{{comment.id}}.$invalid || vm.dataLoadingUpdateComment" class="btn btn-primary">Uppdatera</button>
              <span ng-click="vm.togglePostCommentUpdate(comment.id)" class="btn btn-link">Ångra</span>
            </div>
          </form>
        </div>
        <div ng-if="comment.isDeleted">
          Kommentaren borttagen av användaren {{comment.modifiedDate | relativeDate}}
        </div>
      </div>
      <!-- End comments to main post -->

      <div class="pull-right pointer" ng-click="vm.togglePostComment(entries.id)" ng-if="vm.togglePostsComments.indexOf(entries.id) === -1 && globals.currentUser.memberId && user.loggedIn"><u>Skriv en kommentar</u></div>

      <!-- Add comment -->
      <div ng-if="vm.togglePostsComments.indexOf(entries.id) !== -1">
        <form name="addCommentForm{{entries.id}}" ng-submit="vm.addComment(entries.id)" role="form">
          <div class="form-group" ng-class="{ 'has-error': addCommentForm{{entries.id}}.comment.$dirty && addCommentForm{{entries.id}}.comment.$invalid,
    'has-success' : addCommentForm{{entries.id}}.comment.$valid}">
            <input type="text" name="comment" id="comment{{entries.id}}" class="form-control" ng-model="vm.form.comments[entries.id]" placeholder="Skriv en kommentar..." required />
          </div>

          <div class="form-actions pull-right">
            <button type="submit" ng-disabled="addCommentForm{{entries.id}}.$invalid || vm.dataLoadingAddApplication" class="btn btn-primary">Skicka</button>
            <span ng-click="vm.togglePostComment(entries.id)" class="btn btn-link">Ångra</span>
          </div>
        </form>
      </div>
      <!-- End add comment -->

    </div>

    <!-- Number of replies only showed after first iteration -->
    <div ng-if="$index === 0" class="row">
      <div class="col-md-12" style="margin-bottom: -40px; margin-left: 20px">
        <h2>{{vm.topic.numberOfReplies}} svar</h2>
      </div>
    </div>

  </div>

  <!-- Add reply -->
  <div ng-show="globals.currentUser.memberId && user.loggedIn">
    <div class="container no-padding-left no-padding-bottom">
      <h2>Skriv ett svar</h2>
    </div>

    <div class="container padding-bottom-small">
      <div class="row well">
        <form name="addAnswerForm" ng-submit="vm.addAnswer()" role="form">
          <div class="form-group" ng-class="{ 'has-error': addAnswerForm.answer.$dirty && addAnswerForm.answer.$invalid,
'has-success' : addAnswerForm.answer.$valid}">
            <label for="answer">Svar</label>
            <span style="float: right; font-size: 0.9em"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheat Sheet</a></span>
            <textarea id="answer" type="text" class="form-control margin-bottom-small" ng-model="vm.form.answer" style="height: 100px" required></textarea>
            <label for="description" ng-show="vm.form.answer">Förhandsgranskning</label>
            <div btf-markdown="vm.form.answer">
            </div>
          </div>

          <div class="form-actions noclick pull-right">
            <button type="submit" ng-disabled="addAnswerForm.$invalid" class="btn btn-primary">Skicka</button>
            <span ng-click="vm.resetAddAnswerForm();" class="btn btn-link">Ångra</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End add reply -->

  <!-- If user has no community profile -->
  <div class="container padding-bottom-small" ng-show="!globals.currentUser.memberId && user.loggedIn">
    <div class="row">
    <h3><a href="#/profile">Skapa en community profil för att kunna interagera med forumet</a></h3>
    </div>
  </div>

</div>
