<div class="jumbotron title">
  <div class="container no-padding-left">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li><a href="#/community" target="_self">Community</a></li>
      <li class="active">{{vm.category.name}}</li>
    </ol>
    <!-- Name -->
    <span class="pull-right pointer" ng-if="vm.category.createdBy.id === globals.currentUser.memberId && vm.forum.numberOfTopics === 0 || globals.currentUser.role === 'community-admin'" ng-click="vm.removeCategory()"><i class="fa fa-trash"></i></span>
    <span class="pull-right pointer margin-right-mini" ng-if="vm.category.createdBy.id && vm.category.createdBy.id === globals.currentUser.memberId || globals.currentUser.role === 'community-admin'" ng-click="vm.addCategoryUpdate()"><i class="fa fa-pencil-square-o"></i></span>

    <h1 ng-if="!vm.toggleCategoryUpdate">{{vm.category.name}}</h1>

    <div ng-if="vm.toggleCategoryUpdate">
      <form name="updateCategoryForm" ng-submit="vm.updateCategory()" role="form">
        <div class="form-group" ng-class="{ 'has-error': updateCategoryForm.name.$dirty && updateCategoryForm.name.$invalid,
  'has-success' : updateCategoryForm.name.$valid}">
          <input type="text" name="name" id="name" class="form-control" ng-model="vm.form.name" maxlength="50" required />
        </div>

        <div class="form-actions pull-right">
          <button type="submit" ng-disabled="updateCategoryForm.$invalid || vm.dataLoadingUpdateCategory" class="btn btn-primary">Uppdatera</button>
          <span ng-click="vm.toggleCategoryUpdate = false" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
    <!-- End name -->
  </div>
</div>

<div class="container no-padding-top">
  <div class="row color-white">
    <div class="col-md-4 cat-id-1" style="height: 200px">
      <h3 class="truncate">Hur lägger jag till fler poster?</h2>
      <p><strong>Technical Support Forum</strong></p>
      <p>5 dagar sedan</p>
      <span style="position: absolute;bottom: 5px;right: 10px;" data-toggle="tooltip" data-original-title="Populär"><i class="fa fa-line-chart"></i></span>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 cat-id-2" style="height: 200px">
        <h3 class="truncate">Anvädnning av Reseplanerar API:et</h2>
        <p><strong>API Forum</strong></p>
        <p>2 dagar sedan</p>
        <span style="position: absolute;bottom: 0px;right: 10px;" data-toggle="tooltip" data-original-title="Senaste"><i class="fa fa-sort-asc"></i></span>
      </div>
    </div>
    <div class="col-md-4" style="padding-left: 0px">
      <div class="col-md-12 cat-id-3" style="height: 200px">
        <h3 class="truncate">Antal requests som jag får skicka?</h2>
        <p><strong>General Forum</strong></p>
        <p>7 timmar sedan</p>
        <span style="position: absolute;bottom: 5px;right: 10px;" data-toggle="tooltip" data-original-title="Obesvarad fråga"><i class="fa fa-question"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
      <table class="table table-borderless">
        <thead class="table-header">
          <tr>
            <th colspan="3"><h1>Forum</h1></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entries in vm.category.forums | orderBy:'id'">
            <td style="width: 50px">
              <div class="area area-small cat-id-{{entries.categoryId}}">
                <span ng-if="entries.id === 1" class="fa fa-desktop fa-2x" aria-hidden="true"></span>
                <span ng-if="entries.id === 2" class="fa fa-cloud fa-2x" aria-hidden="true"></span>
                <span ng-if="entries.id === 3" class="fa fa-paper-plane fa-2x" aria-hidden="true"></span>
                <span ng-if="entries.id === 4" class="fa fa-support fa-2x" aria-hidden="true"></span>
              </div>
            </td>
            <td>
              <h2 class="no-margin-bottom"><a href="#/community/forum/{{entries.id}}">{{entries.name}}</a></h2>
              <p>{{entries.description}}</p>
            </td>
            <td class="text-center">
              <h2 class="no-margin-bottom">{{entries.numberOfTopics}}</h2>
              <p>Topics</p>
            </td>
            <td class="text-center">
              <h2 class="no-margin-bottom">{{entries.numberOfPosts}}</h2>
              <p>Posts</p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="container padding-bottom-small" ng-show="globals.currentUser.id && user.loggedIn">
    <h2>Skapa nytt forum</h2>
    <div class="row well">
      <form name="addForumForm" ng-submit="vm.addForum()" role="form">
        <div class="form-group" ng-class="{ 'has-error': addForumForm.topic.$dirty && addForumForm.topic.$invalid,
  'has-success' : addForumForm.answer.$valid}">
          <label for="name">Namn</label>
          <input type="text" name="name" id="name" class="form-control margin-bottom-small" ng-model="vm.form.forum.name" maxlength="50" required />
          <label for="description">Beskrivning</label>
          <input type="text" name="name" id="description" class="form-control margin-bottom-small" ng-model="vm.form.forum.description" maxlength="50" required />
          <label for="imageURL">Bild URL</label>
          <input type="text" name="imageURL" id="imageURL" class="form-control margin-bottom-small" ng-model="vm.form.forum.imageURL" maxlength="100" />
        </div>

        <div class="form-actions noclick pull-right">
          <button type="submit" ng-disabled="addForumForm.$invalid" class="btn btn-primary">Skicka</button>
          <span ng-click="vm.resetAddForumForm();" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
  </div>

  <div class="container padding-bottom-small" ng-show="!globals.currentUser.id && user.loggedIn">
    <div class="row">
    <h3><a href="#/profile">Skapa en community profil för att kunna interagera med forumet</a></h3>
    </div>
  </div>

</div>
