<div class="jumbotron title">
    <div class="container no-padding-left">
        <ol class="breadcrumb">
            <li><a href="#/" target="_self">Hem</a></li>
            <li><a href="#/community" target="_self">Community</a></li>
            <li><a href="#/community/category/{{vm.topic.categoryId}}" target="_self">{{vm.topic.categoryName}}</a></li>
            <li><a href="#/community/forum/{{vm.topic.forumId}}" target="_self">{{vm.topic.forumName}}</a></li>
            <li class="active">{{vm.topic.subject}}</li>
        </ol>

        <!-- Subject -->
        <span class="color-black">
          <span class="pull-right pointer" ng-if="!vm.topic.closedBy && vm.communityService.isAdmin()" ng-click="vm.closeTopic()" data-balloon="Stäng fråga" data-balloon-pos="up"><i class="fa fa-times"></i></span>
          <span class="pull-right margin-right-mini pointer" ng-if="vm.topic.createdBy.id === vm.communityService.getMemberId() && vm.topic.numberOfPosts < 2 || vm.communityService.isAdmin()" ng-click="vm.removeTopic()" data-balloon="Ta bort fråga" data-balloon-pos="up"><i class="fa fa-trash"></i></span>
          <span class="pull-right margin-right-mini pointer" ng-if="!vm.topic.closedBy && vm.topic.createdBy.id != null && vm.topic.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.addTopicUpdate()" data-balloon="Uppdatera fråga" data-balloon-pos="up"><i class="fa fa-pencil-square-o"></i></span>
          <span class="pull-right pointer margin-right-mini" ng-if="vm.communityService.isMember() && vm.watches.isWatching" ng-click="vm.removeWatch()" data-balloon="Sluta bevaka denna fråga" data-balloon-pos="up"><i class="fa fa-binoculars color-green" id="com-remove-forum-watch"></i></span>
          <span class="pull-right pointer margin-right-mini" ng-if="vm.communityService.isMember() && !vm.watches.isWatching" ng-click="vm.addWatch()" data-balloon="Bevaka denna fråga" data-balloon-pos="up"><i class="fa fa-binoculars" id="com-add-forum-watch"></i></span>
        </span>

        <h1 ng-if="!vm.toggleTopicUpdate">{{vm.topic.subject}}</h1>

        <h3 ng-if="vm.topic.closedBy" class="color-black">Stängd för vidare svar och kommentarer av {{vm.topic.closedBy.signature}} för {{vm.topic.closedDate | relativeDate}}</h3>

        <div ng-if="vm.toggleTopicUpdate">
            <form name="updateTopicForm" ng-submit="vm.updateTopic()" role="form">
                <div class="form-group" ng-class="{ 'has-error': updateTopicForm.subject.$dirty && updateTopicForm.subject.$invalid,
  'has-success' : updateTopicForm.subject.$valid}">
                    <input type="text" name="subject" id="subject" class="form-control" ng-model="vm.form.subject" ng-maxlength="100" required />
                    <div ng-show="updateTopicForm.text.$error.maxlength" class="help-block">Maxlängd för en fråga är 100 tecken</div>
                </div>

                <div class="form-actions pull-right">
                    <button type="submit" ng-disabled="updateTopicForm.$invalid || vm.dataLoadingUpdateTopic" class="btn btn-primary">Uppdatera</button>
                    <span ng-click="vm.toggleTopicUpdate = false" class="btn btn-link">Ångra</span>
                </div>
            </form>
        </div>
        <!-- End subject -->
    </div>
</div>

<div class="container word-wrap">
    <div class="row padding-top-bottom-small" ng-class="$index !== 0 ? 'border-top' : ''" ng-repeat="entries in vm.topic.posts" ng-if="entries.type === 'answer' || entries.type === 'question'">
        <div class="col-md-12">

            <!-- Main post if not deleted -->
            <div ng-if="!entries.isDeleted && vm.togglePostsCommentsUpdate.indexOf(entries.id) === -1">

                <div class="row padding-bottom-mini">
                    <span uib-popover-html="entries.createdBy.gravatarProfileInfo.bioHTML + '<b>Community-poäng:</b> ' + entries.createdBy.rankings[0].currentPoints" popover-is-open="popoverIsOpen" ng-mouseenter="popoverIsOpen = !popoverIsOpen" ng-mouseleave="popoverIsOpen = !popoverIsOpen"
                        popover-title="{{entries.createdBy.gravatarProfileInfo.name}}">
          <span ng-if="!entries.createdBy.useGravatar" class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x color-blue"></i>
                      <i class="fa fa-user fa-stack-1x fa-inverse color-white"></i>
          </span>
                    <img ng-if="entries.createdBy.useGravatar" src="https://www.gravatar.com/avatar/{{entries.createdBy.gravatarEmailHash}}?s=35" class="avatar-small margin-right-mini fa-stack">
                    <span class="signature padding-right-mini">{{entries.createdBy.signature}}</span>&bull;
                    </span>
                    <span class="margin-left-mini">{{entries.createDate | relativeDate}}</span>
                    <span ng-if="entries.numberOfTimesEdited > 0" class="margin-left-mini"><span class="margin-right-mini">&bull;</span> Editerad för {{entries.editDate | relativeDate}}</span> <span ng-if="entries.editedBy.id != null && entries.editedBy.id !== entries.createdBy.id"> av {{entries.editedBy.signature}}</span>

                    <!-- Votes -->
                    <span class="pull-right" data-balloon="Inläggets poäng" data-balloon-pos="up">
                    <span ng-if="!vm.communityService.isMember() && entries.pointsAwarded > 0 || entries.createdBy.id === vm.communityService.getMemberId()"><strong><i class="fa fa-chevron-up"></i> {{entries.pointsAwarded}}</strong></span>
                    <span ng-if="(vm.communityService.isMember() && vm.topic.closedBy) || (entries.hasVoted && vm.communityService.isMember() && entries.createdBy.id !== vm.communityService.getMemberId())" class="voted"><strong><i class="fa fa-chevron-up"></i> {{entries.pointsAwarded}}</strong></span>
                    <span ng-if="!vm.topic.closedBy && !entries.hasVoted && vm.communityService.isMember() && entries.createdBy.id !== vm.communityService.getMemberId()" class="vote" ng-click="vm.addVote(entries.id, entries.type)"><strong><i class="fa fa-chevron-up"></i> {{entries.pointsAwarded}}</strong></span>
                    </span>
                    <!-- End votes -->

                    <span class="pull-right pointer margin-right-small" ng-if="!vm.topic.closedBy && entries.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.removePost(entries.id)" data-balloon="Ta bort inlägg" data-balloon-pos="up"><i class="fa fa-trash"></i></span>
                    <span class="pull-right pointer margin-right-mini" ng-if="!vm.topic.closedBy && entries.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.addPostCommentUpdate(entries.id)" data-balloon="Redigera inlägg" data-balloon-pos="up"><i class="fa fa-pencil-square-o"></i></span>
                    <span class="pull-right margin-right-mini" ng-if="entries.isAnswer" data-balloon="Utpekat som korrekt svar på frågan" data-balloon-pos="up"><i class="fa fa-check-square-o"></i></span>
                    <span class="pull-right pointer margin-right-mini" ng-if="!vm.topic.closedBy && $index !== 0 && !entries.isAnswer && !vm.topic.answeredByPostId && (vm.topic.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin())" ng-click="vm.setAnswer(entries.id)"
                        data-balloon="Utpeka detta svar som korrekt svar på frågan" data-balloon-pos="up"><i class="fa fa-square-o"></i></span>
                    <span class="pull-right pointer margin-right-mini" ng-if="vm.topic.closedBy && $index !== 0 && !entries.isAnswer && !vm.topic.answeredByPostId && (vm.topic.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin())"><i class="fa fa-square-o"></i></span>
                </div>

                <div class="row simple-well margin-bottom-mini community-post" ng-if="$index === 0 || vm.topic.answeredByPostId || (vm.topic.createdBy.id !== vm.communityService.getMemberId() && !vm.communityService.isAdmin())" ng-class="entries.isAnswer ? 'answer' : ''" btf-markdown="entries.text"></div>
                <div class="row simple-well margin-bottom-mini pointer community-post" ng-if="$index !== 0 && !vm.topic.answeredByPostId && (vm.topic.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin())" ng-class="entries.isAnswer ? 'answer' : 'not-answer'"
                    ng-click="vm.setAnswer(entries.id)" data-balloon="Utpeka detta svar som korrekt svar på frågan" data-balloon-pos="up" btf-markdown="entries.text"></div>

            </div>
            <!-- End main post if not deleted -->

            <!-- Edit main post -->
            <div ng-if="!entries.isDeleted && vm.togglePostsCommentsUpdate.indexOf(entries.id) !== -1">
                <span ng-if="entries.numberOfTimesEdited > 0" ng-init="vm.togglePreviousEdits = false" ng-click="vm.togglePreviousEdits = !vm.togglePreviousEdits" class="margin-bottom-small">
        <span class="toggleItem-left">
          <span class="showMore" ng-show="!vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-down" ng-click="vm.togglePreviousEdits"></i></span>
                <span class="showLess" ng-show="vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-up" ng-click="!vm.togglePreviousEdits"></i></span>
                </span>
                <h2 class="pointer">Visa tidigare redigeringar</h2>
                </span>

                <div ng-hide="!vm.togglePreviousEdits" class="row well margin-bottom-small" ng-repeat="edits in entries.edits">
                    <label for="description">Uppdaterad av {{edits.createdBy.signature}} för {{edits.createDate | relativeDate}}</label>
                    <div class="community-post" btf-markdown="edits.text">
                    </div>
                </div>
                <div class="row well">
                    <form name="updatePostForm" ng-submit="vm.updatePost(entries.id)" role="form">
                        <div class="form-group" ng-class="{ 'has-error': updatePostForm.description.$dirty && updatePostForm.description.$invalid,
'has-success' : updatePostForm.description.$valid}">
                            <label for="post{{entries.id}}" ng-if="$index === 0">Fråga</label>
                            <label for="post{{entries.id}}" ng-if="$index !== 0">Svar</label>
                            <span class="pull-right" style="font-size: 0.9em"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheat Sheet</a></span>
                            <textarea name="description" id="post{{entries.id}}" type="text" class="form-control" ng-model="vm.form.posts[entries.id]" style="height: 100px; margin-bottom: 20px" ng-maxlength="10000" required></textarea>
                            <div ng-show="updatePostForm.description.$error.maxlength" class="help-block">Maxlängd är 10000 tecken</div>
                            <label for="description" ng-show="vm.form.posts[entries.id]">Förhandsgranskning</label>
                            <div class="community-post" btf-markdown="vm.form.posts[entries.id]">
                            </div>
                        </div>

                        <div class="form-actions noclick" style="float: right">
                            <button type="submit" ng-disabled="updatePostForm.$invalid" class="btn btn-primary">Uppdatera</button>
                            <span ng-click="vm.togglePostCommentUpdate(entries.id)" class="btn btn-link">Ångra</span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End edit main post -->

            <!-- Main post if deleted -->

            <div ng-if="entries.isDeleted && vm.togglePostsCommentsUpdate.indexOf(entries.id) !== -1">
                <span ng-if="entries.numberOfTimesEdited > 0" ng-init="vm.togglePreviousEdits = false" ng-click="vm.togglePreviousEdits = !vm.togglePreviousEdits" class="margin-bottom-small">
        <span class="toggleItem-left">
          <span class="showMore" ng-show="!vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-down" ng-click="vm.togglePreviousEdits"></i></span>
                <span class="showLess" ng-show="vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-up" ng-click="!vm.togglePreviousEdits"></i></span>
                </span>
                <h2 class="pointer">Visa tidigare redigeringar</h2>
                </span>

                <div ng-hide="!vm.togglePreviousEdits" class="row well margin-bottom-small" ng-repeat="edits in entries.edits">
                    <label for="description">Uppdaterad av {{edits.createdBy.signature}} för {{edits.createDate | relativeDate}}</label>
                    <div class="community-post" btf-markdown="edits.text">
                    </div>
                </div>
                <div class="row well">

                    <div class="community-post" btf-markdown="vm.form.posts[entries.id]"></div>

                    <div class="form-actions noclick" style="float: right">
                        <span ng-click="vm.togglePostCommentUpdate(entries.id)" class="btn btn-link">Ångra</span>
                    </div>
                </div>
            </div>

            <div ng-if="entries.isDeleted && vm.togglePostsCommentsUpdate.indexOf(entries.id) === -1" class="row simple-well margin-bottom-mini">
                <span class="pull-right pointer margin-right-mini" ng-if="entries.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.addPostCommentUpdate(entries.id)" data-balloon="Redigera inlägg" data-balloon-pos="up"><i class="fa fa-pencil-square-o"></i></span>
                <p>Svaret borttaget av användaren för {{entries.editDate | relativeDate}}</p>
            </div>
            <!-- End main post if deleted -->

            <!-- Comments to main post -->
            <div ng-class="$index !== 0 ? 'border-top' : ''" ng-repeat="comment in vm.topic.posts | limitTo:vm.topic.posts.length-$parent.$index:$parent.$index+1" ng-if="comment.commentTo.id === entries.id" style="padding-bottom: 10px; padding-left: 20px">
                <div ng-if="!comment.isDeleted && vm.togglePostsCommentsUpdate.indexOf(comment.id) === -1">
                    <span uib-popover-html="comment.createdBy.gravatarProfileInfo.bioHTML + '<b>Community-poäng:</b> ' + comment.createdBy.rankings[0].currentPoints" popover-is-open="popoverIsOpen" ng-mouseenter="popoverIsOpen = !popoverIsOpen" ng-mouseleave="popoverIsOpen = !popoverIsOpen"
                        popover-title="{{comment.createdBy.gravatarProfileInfo.name}}">
          <span class="signature padding-right-mini">{{comment.createdBy.signature}}</span>&bull;
                    </span>
                    <span class="margin-left: 5px">{{comment.createDate | relativeDate}}</span>
                    <span ng-if="comment.numberOfTimesEdited > 0" class="margin-left-mini"><span class="margin-right-mini">&bull;</span> Editerad för {{comment.editDate | relativeDate}}</span>

                    <!-- Votes -->
                    <span class="pull-right" data-balloon="Kommentarens poäng" data-balloon-pos="up">
                    <span ng-if="!vm.topic.closedBy &&!vm.communityService.isMember() && comment.pointsAwarded > 0 || comment.createdBy.id === vm.communityService.getMemberId()"><strong><i class="fa fa-chevron-up"></i> {{comment.pointsAwarded}}</strong></span>
                    <span ng-if="vm.topic.closedBy && comment.hasVoted && vm.communityService.isMember() && comment.createdBy.id !== vm.communityService.getMemberId()" class="voted"><strong><i class="fa fa-chevron-up"></i> {{comment.pointsAwarded}}</strong></span>
                    <span ng-if="!vm.topic.closedBy && !comment.hasVoted && vm.communityService.isMember() && comment.createdBy.id !== vm.communityService.getMemberId()" class="vote" ng-click="vm.addVote(comment.id, comment.type)"><strong><i class="fa fa-chevron-up"></i> {{comment.pointsAwarded}}</strong></span>
                    </span>
                    <!-- End votes -->

                    <span class="pull-right pointer margin-right-small" ng-if="!vm.topic.closedBy && comment.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.removePost(comment.id, true)" data-balloon="Ta bort kommentar" data-balloon-pos="up"><i class="fa fa-trash"></i></span>
                    <span class="pull-right pointer margin-right-mini" ng-if="!vm.topic.closedBy && comment.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.addPostCommentUpdate(comment.id)" data-balloon="Editera kommentar" data-balloon-pos="up"><i class="fa fa-pencil-square-o"></i></span>
                    <div class="community-post" btf-markdown="comment.text">
                    </div>

                </div>

                <!-- Edit comment -->
                <div ng-if="!comment.isDeleted && vm.togglePostsCommentsUpdate.indexOf(comment.id) !== -1">
                    <span ng-if="comment.numberOfTimesEdited > 0" ng-init="vm.togglePreviousEdits = false" ng-click="vm.togglePreviousEdits = !vm.togglePreviousEdits" class="margin-bottom-small">
            <span class="toggleItem-left">
              <span class="showMore" ng-show="!vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-down" ng-click="vm.togglePreviousEdits"></i></span>
                    <span class="showLess" ng-show="vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-up" ng-click="!vm.togglePreviousEdits"></i></span>
                    </span>
                    <h2 class="pointer">Visa tidigare redigeringar</h2>
                    </span>

                    <div ng-hide="!vm.togglePreviousEdits" class="row well margin-bottom-small" ng-repeat="edits in comment.edits">
                        <label for="description">Uppdaterad av {{edits.createdBy.signature}} för {{edits.createDate | relativeDate}}</label>
                        <div class="community-post" btf-markdown="edits.text">
                        </div>
                    </div>
                    <form name="updateCommentForm{{comment.id}}" ng-submit="vm.updatePost(comment.id)" role="form">
                        <div class="form-group" ng-class="{ 'has-error': updateCommentForm{{comment.id}}.comment.$dirty && updateCommentForm{{comment.id}}.comment.$invalid,
      'has-success' : updateCommentForm{{comment.id}}.comment.$valid}">
                            <textarea name="comment" id="comment{{comment.id}}" class="form-control" ng-model="vm.form.posts[comment.id]" ng-maxlength="1000" required />
                            <div ng-show="updateCommentForm{{comment.id}}.comment.$error.maxlength" class="help-block">Maxlängd är 1000 tecken</div>
                        </div>

                        <div class="form-actions text-right">
                            <button type="submit" ng-disabled="updateCommentForm{{comment.id}}.$invalid || vm.dataLoadingUpdateComment" class="btn btn-primary">Uppdatera</button>
                            <span ng-click="vm.togglePostCommentUpdate(comment.id)" class="btn btn-link">Ångra</span>
                        </div>
                    </form>
                </div>
                <!-- End edit comment -->

                <!-- Comment if deleted -->
                <div ng-if="comment.isDeleted && vm.togglePostsCommentsUpdate.indexOf(comment.id) !== -1">
                    <span ng-if="comment.numberOfTimesEdited > 0" ng-init="vm.togglePreviousEdits = false" ng-click="vm.togglePreviousEdits = !vm.togglePreviousEdits" class="margin-bottom-small">
            <span class="toggleItem-left">
              <span class="showMore" ng-show="!vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-down" ng-click="vm.togglePreviousEdits"></i></span>
                    <span class="showLess" ng-show="vm.togglePreviousEdits"><i class="glyphicon glyphicon-chevron-up" ng-click="!vm.togglePreviousEdits"></i></span>
                    </span>
                    <h2 class="pointer">Visa tidigare redigeringar</h2>
                    </span>
                    <div ng-hide="!vm.togglePreviousEdits" class="row well margin-bottom-small" ng-repeat="edits in comment.edits">
                        <label for="description">Uppdaterad av {{edits.createdBy.signature}} för {{edits.createDate | relativeDate}}</label>
                        <div class="community-post" btf-markdown="edits.text">
                        </div>
                    </div>

                    <div class="community-post" btf-markdown="comment.text"></div>

                    <div class="form-actions text-right">
                        <span ng-click="vm.togglePostCommentUpdate(comment.id)" class="btn btn-link">Ångra</span>
                    </div>

                </div>
                <div ng-if="comment.isDeleted && vm.togglePostsCommentsUpdate.indexOf(comment.id) === -1">
                    <span class="pull-right pointer margin-right-mini" ng-if="comment.createdBy.id === vm.communityService.getMemberId() || vm.communityService.isAdmin()" ng-click="vm.addPostCommentUpdate(comment.id)" data-balloon="Redigera kommentar" data-balloon-pos="up"><i class="fa fa-pencil-square-o"></i></span>                    Kommentaren borttagen av användaren för {{comment.editDate | relativeDate}}
                </div>
                <!-- End comment if deleted -->
            </div>
            <!-- End comments to main post -->

            <div class="pull-right pointer" ng-click="vm.togglePostComment(entries.id)" ng-if="!vm.topic.closedBy && vm.togglePostsComments.indexOf(entries.id) === -1 && vm.communityService.getMemberId() && user.loggedIn"><u>Skriv en kommentar</u></div>

            <!-- Add comment -->
            <div ng-if="vm.togglePostsComments.indexOf(entries.id) !== -1">
                <form name="addCommentForm{{entries.id}}" ng-submit="vm.addComment(entries.id)" role="form">
                    <div class="form-group" ng-class="{ 'has-error': addCommentForm{{entries.id}}.comment.$dirty && addCommentForm{{entries.id}}.comment.$invalid,
    'has-success' : addCommentForm{{entries.id}}.comment.$valid}">
                        <textarea name="comment" id="comment{{entries.id}}" class="form-control" ng-model="vm.form.comments[entries.id]" ng-maxlength="1000" placeholder="Skriv en kommentar..." required />
                        <div ng-show="addCommentForm{{entries.id}}.comment.$error.maxlength" class="help-block">Maxlängd är 1000 tecken</div>
                    </div>

                    <div class="form-actions pull-right">
                        <button type="submit" ng-disabled="addCommentForm{{entries.id}}.$invalid || vm.dataLoadingAddApplication" class="btn btn-primary">Skicka</button>
                        <span ng-click="vm.togglePostComment(entries.id)" class="btn btn-link">Ångra</span>
                    </div>
                </form>
            </div>
            <!-- End add comment -->

        </div>

        <!-- Number of replies only showed after first iteration -->
        <div ng-if="$index === 0" class="row">
            <div class="col-md-12" style="margin-bottom: -20px; margin-left: 20px">
                <h2 ng-if="!vm.internalForum">{{vm.topic.numberOfAnswers}} svar</h2>
                <h2 ng-if="vm.internalForum && vm.topic.numberOfAnswers > 1">{{vm.topic.numberOfAnswers}} kommentarer</h2>
                  <h2 ng-if="vm.internalForum && vm.topic.numberOfAnswers == 1">{{vm.topic.numberOfAnswers}} kommentar</h2>
            </div>
        </div>

    </div>

    <!-- Add reply -->
    <div ng-show="vm.communityService.isMember() && !vm.topic.closedBy" id="com-post-answer">
        <div class="container no-padding-left no-padding-bottom">
            <h2 ng-if="!vm.internalForum">Skriv ett svar</h2>
            <h2 ng-if="vm.internalForum">Skriv en kommentar</h2>
        </div>

        <div class="container padding-bottom-small">
            <div class="row well">
                <form name="addAnswerForm" ng-submit="vm.addAnswer()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': addAnswerForm.answer.$dirty && addAnswerForm.answer.$invalid,
'has-success' : addAnswerForm.answer.$valid}">
                        <label for="answer" ng-if="!vm.internalForum">Svar</label>
                        <label for="answer" ng-if="vm.internalForum">Kommentar</label>
                        <span style="float: right; font-size: 0.9em"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheat Sheet</a></span>
                        <textarea name="answer" id="answer" type="text" class="form-control margin-bottom-small" ng-model="vm.form.answer" style="height: 100px" ng-maxlength="10000" required></textarea>
                        <span ng-show="addAnswerForm.answer.$error.maxlength" class="help-block">Maxlängd för ett svar är 10000 tecken</span>
                        <label for="description" ng-show="vm.form.answer">Förhandsgranskning</label>
                        <div class="community-post" btf-markdown="vm.form.answer">
                        </div>
                    </div>
                    <div class="form-actions noclick pull-right">
                        <button type="submit" ng-disabled="addAnswerForm.$invalid" class="btn btn-primary">Skicka</button>
                        <span ng-click="vm.resetAddAnswerForm();" class="btn btn-link">Ångra</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End add reply -->

    <div class="container padding-bottom-small" ng-show="vm.communityService.isMember() && vm.topic.closedBy">
        <div class="row">
            <h3>Denna fråga är stängd för vidare svar och kommentarer</h3>
        </div>
    </div>

</div>

<!-- If user has no community profile -->
<div class="container padding-bottom-small" ng-show="user.loggedIn && !vm.communityService.isMember()">
    <div class="row">
        <h3><a href="#/profile" id="com-create-link">Skapa en community profil för att kunna interagera med forumet</a></h3>
    </div>
</div>
