<div class="jumbotron title">
  <div class="container no-padding-left">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li><a href="#/community" target="_self">Community</a></li>
      <li><a href="#/community/category/{{vm.forum.categoryId}}" target="_self">{{vm.forum.categoryName}}</a></li>
      <li class="active">{{vm.forum.name}}</li>
    </ol>

    <!-- Subject -->
    <span class="pull-right pointer" ng-if="vm.forum.createdBy.id === globals.currentUser.memberId && vm.forum.numberOfTopics === 0 || vm.communityService.isAdmin()" ng-click="vm.removeForum()"><i class="fa fa-trash"></i></span>
    <span class="pull-right pointer margin-right-mini" ng-if="vm.forum.createdBy.id != null && vm.forum.createdBy.id === globals.currentUser.memberId || vm.communityService.isAdmin()" ng-click="vm.addForumUpdate()"><i class="fa fa-pencil-square-o"></i></span>

    <h1 ng-if="!vm.toggleForumUpdate">{{vm.forum.name}}</h1>

    <div ng-show="vm.toggleForumUpdate">
      <form name="updateForumForm" ng-submit="vm.updateForum()" role="form">
        <div class="form-group" ng-class="{ 'has-error': updateForumForm.name.$dirty && updateForumForm.name.$invalid,
  'has-success' : updateForumForm.name.$valid}">
          <label for="name">Namn</label>
          <input type="text" name="name" id="name" class="form-control" ng-model="vm.form.name" maxlength="50" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': updateForumForm.description.$dirty && updateForumForm.description.$invalid,
  'has-success' : updateForumForm.description.$valid}">
          <label for="description">Beskrivning</label>
          <input type="text" name="description" id="description" class="form-control" ng-model="vm.form.description" maxlength="50" required />
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <ui-iconpicker ng-model="vm.form.imageURL" groups="font-awesome"></ui-iconpicker>
            </span>
            <input class="form-control" type="text" name="imageURL" id="imageURL" class="form-control margin-bottom-small" ng-model="vm.form.imageURL" disabled />
          </div>
        </div>

        <div class="form-actions pull-right">
          <button type="submit" ng-disabled="updateForumForm.$invalid || vm.dataLoadingUpdateForum" class="btn btn-primary">Uppdatera</button>
          <span ng-click="vm.toggleForumUpdate = false" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
    <!-- End subject -->

  </div>
</div>

<div class="container no-padding-top">
  <div class="row padding-bottom">
    <h2 ng-if="!vm.toggleForumUpdate">{{vm.forum.description}}</h2>
  </div>
  <div class="row color-white">
    <div class="col-md-4 com-popular" style="height: 200px">
      <div ng-if="vm.labels.popular.id">
        <h3 class="truncate"><a href="#/community/topic/{{vm.labels.popular.id}}" class="color-white">{{vm.labels.popular.subject}}</a></h3>
        <p>{{vm.labels.popular.lastPostDate | relativeDate}}</p>
      </div>
      <div ng-if="!vm.labels.popular.id">
        <h3>Det finns inga populära frågor i detta forum ännu. <br/><br/>Ställ gärna en!</h3>
      </div>
      <span style="position: absolute;bottom: 5px;right: 10px;" data-balloon="Populär" data-balloon-pos="up"><i class="fa fa-line-chart"></i></span>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 com-answered" style="height: 200px">
        <div ng-if="vm.labels.answered.id">
          <h3 class="truncate"><a href="#/community/topic/{{vm.labels.answered.id}}" class="color-white">{{vm.labels.answered.subject}}</a></h3>
          <p>{{vm.labels.answered.lastPostDate | relativeDate}}</p>
        </div>
        <div ng-if="!vm.labels.answered.id">
          <h3>Inga frågor är ännu besvarade i detta forum. <br/><br/>Hjälp gärna till!</h3>
        </div>
        <span style="position: absolute;bottom: 0px;right: 10px;" data-balloon="Senaste besvarade fråga" data-balloon-pos="up"><i class="fa fa-sort-asc"></i></span>
      </div>
    </div>
    <div class="col-md-4 no-padding-left">
      <div class="col-md-12 com-unanswered" style="height: 200px">
        <div ng-if="vm.labels.unanswered.id">
          <h3 class="truncate"><a href="#/community/topic/{{vm.labels.unanswered.id}}" class="color-white">{{vm.labels.unanswered.subject}}</a></h3>
          <p>{{vm.labels.unanswered.lastPostDate | relativeDate}}</p>
        </div>
        <div ng-if="!vm.labels.unanswered.id">
          <h3>Det finns inga obesvarade frågor i detta forum. <br/><br/>Ställ gärna en ny!</h3>
        </div>
        <span style="position: absolute;bottom: 5px;right: 10px;" data-balloon="Senaste obesvarade fråga" data-balloon-pos="up"><i class="fa fa-question"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-borderless">
      <thead class="table-header">
        <tr>
          <th colspan="3">
            <h1>Frågor</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entries in vm.forum.topics | orderBy:'lastPostDate' : true">
          <td style="width: 50px">
            <div class="area area-small">
              <span ng-if="!entries.createdBy.useGravatar" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x color-blue"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse color-white"></i>
                  </span>
              <img ng-if="entries.createdBy.useGravatar" src="http://www.gravatar.com/avatar/{{entries.createdBy.gravatarEmail | hash}}?s=45" class="avatar">
            </div>
          </td>
          <td>
            <h2 class="no-margin-bottom"><a href="#/community/topic/{{entries.id}}">{{entries.subject}}</a></h2>
            <span class="padding-right-mini"><strong>{{entries.createdBy.signature}}</strong></span>&bull;
            <span class="margin-left-mini">Skapades för {{entries.createDate | relativeDate}}</span> &bull;
            <span class="margin-left-mini">Senaste inlägg skrevs för {{entries.lastPostDate | relativeDate}}</span>
          </td>
          <td class="text-center">
            <h2 class="no-margin-bottom">{{entries.numberOfPosts}}</h2>
            <p>Inlägg</p>
          </td>
          <td class="text-center">
            <h2 class="no-margin-bottom">{{entries.numberOfViews}}</h2>
            <p>Visningar</p>
          </td>
          <td class="text-center">
            <h2 class="no-margin-bottom" ng-class="entries.answeredByPostId ? 'answer' : 'not-answer'">{{entries.numberOfAnswers}}</h2>
            <p>Svar</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container padding-bottom-small" ng-show="vm.communityService.isMember()">
    <h2>Ställ ny fråga</h2>
    <div class="row well">
      <form name="addTopicForm" ng-submit="vm.addTopic()" role="form">
        <div class="form-group" ng-class="{ 'has-error': addTopicForm.topic.$dirty && addTopicForm.topic.$invalid,
  'has-success' : addTopicForm.answer.$valid}">
          <label for="subject">Fråga</label>
          <input type="text" name="subject" id="subject" class="form-control margin-bottom-small" ng-model="vm.form.topic.subject" maxlength="50" required />
          <label for="question">Beskrivning</label>
          <span class="pull-right" style="font-size: 0.9em"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheat Sheet</a></span>
          <textarea id="question" type="text" class="form-control margin-bottom-small" ng-model="vm.form.topic.question" style="height: 100px;" required></textarea>
          <label for="preview" ng-show="vm.form.topic.question">Förhandsgranskning</label>
          <div btf-markdown="vm.form.topic.question">
          </div>
        </div>

        <div class="form-actions noclick pull-right">
          <button type="submit" ng-disabled="addTopicForm.$invalid" class="btn btn-primary">Skicka</button>
          <span ng-click="vm.resetAddTopicForm();" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
  </div>

  <div class="container padding-bottom-small" ng-show="!vm.communityService.isMember()">
    <div class="row">
      <h3><a href="#/profile">Skapa en community profil för att kunna interagera med forumet</a></h3>
    </div>
  </div>

</div>
