<div class="jumbotron" style="background-color:white;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h1>Kontakta oss</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="panel">
        <div class="panel-heading">
          <h3><i class="glyphicon glyphicon-map-marker"></i> Adress</h3>
        </div>
        <div class="panel-body">
          <div class="google-maps">
            <iframe width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=V%C3%A4sttrafik%2C%20Folkungagatan%20G%C3%B6teborg&key=AIzaSyD_kjI6iCMgI8zWldFt9A06SmqEIml3CEc" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel">
        <div class="panel-heading">
          <h3><i class="glyphicon glyphicon-map-marker"></i> Vårt kontor</h3>
        </div>
        <div class="panel-body">
          <address>
            <strong>Göteborg</strong><br />
            Postadress:<br />
            Box 123, 541 23 Skövde<br />
            Besöksadress:<br />
            Folkungagatan 20, Göteborg<br />
            <i class="fa fa-phone adress"></i> 031-62 92 00<br />
            <i class="fa fa-fax adress"></i> Fax: 031-62 92 01<br />
              <i class="fa fa-envelope adress"></i> E-post:<a href="mailto:api@vasttrafik.se"> api@vasttrafik.se</a>
          </address>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="panel">
        <div class="panel-heading">
          <h3 style="vertical-align:middle">
            <i class="fa fa-envelope"></i> Kontakta oss
          </h3>
        </div>
        <div class="panel-body">
          <!-- Contact form -->
          <form role="form" id="feedbackForm">

            <div class="form-group">
              <label for="namn">Namn</label>
              <input type="text" class="form-control" id="namn" name="namn" placeholder="Namn">
              <span class="help-block" style="display: none;">Ange namn</span>
            </div>

            <div class="form-group">
              <label for="email">Epostadress</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Epostadress">
              <span class="help-block" style="display: none;">Ange giltig epostadress</span>
            </div>

            <div class="form-group">
              <label for="message">Meddelande</label>
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Meddelande"></textarea>
              <span class="help-block" style="display: none;">Meddelande</span>
            </div>
            <img id="captcha" src="library/vender/securimage/securimage_show.php" alt="CAPTCHA-bild" />
            <a href="#" onclick="document.getElementById('captcha').src = 'library/vender/securimage/securimage_show.php?' + Math.random(); return false" class="btn btn-info btn-sm">Visa annan bild</a><br />

            <div class="form-group" style="margin-top: 10px;">
              <label for="captcha_code">Ange säkerhetskod</label>
              <input type="text" class="form-control" name="captcha_code" id="captcha_code" placeholder="Var vänlig, ange säkerhetskoden från bilden" />
              <span class="help-block" style="display: none;">Var vänlig, ange säkerhetskoden från bilden</span>
            </div>
            <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Skicka meddelande</button>
          </form>
          <!-- END Contact form -->
        </div>
      </div>
    </div>
  </div>
</div>