<div class="jumbotron title">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li class="active">Kontakta oss</li>
    </ol>
    <h1>Kontakta oss</h1>
  </div>
</div>

<div class="container">

  <div class="row col-md-12">
    <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#_info" id="contact-tab-1" target="_self" role="tab" data-toggle="tab">Information & Karta</a>
        </li>
        <li role="presentation" ng-if="user.loggedIn">
          <a href="#_contact" id="contact-tab-2" target="_self" role="tab" data-toggle="tab">Kontaktformulär</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="padding: 40px">

        <div role="tabpanel" class="tab-pane active" id="_info">

          <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4" style="height: 100%">
              <div class="panel">
                <div class="panel-heading">
                  <h3><i class="glyphicon glyphicon-map-marker color-blue"></i> Vårt kontor</h3>
                </div>
                <div class="panel-body">
                  <address>
                    <strong>Göteborg</strong>
                    <br /> Postadress:
                    <br /> Box 123, 541 23 Skövde
                    <br />
                    <br /> Besöksadress:
                    <br /> Folkungagatan 20, Göteborg
                    <br />
                    <br />
                    <i class="fa fa-phone adress"></i> 031-62 92 00
                    <br />
                    <i class="fa fa-fax adress"></i> Fax: 031-62 92 01
                    <br />
                    <i class="fa fa-envelope adress"></i> E-post:<a href="mailto:api@vasttrafik.se"> api@vasttrafik.se</a>

                  </address>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-8 col-lg-8">
              <div class="panel">
                <div class="panel-heading">
                  <h3><i class="glyphicon glyphicon-map-marker color-blue"></i> Adress</h3>
                </div>
                <div class="panel-body">
                  <div class="google-maps">
                    <iframe width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=V%C3%A4sttrafik%2C%20Folkungagatan%20G%C3%B6teborg&key=AIzaSyD_kjI6iCMgI8zWldFt9A06SmqEIml3CEc" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="_contact">
          <div class="row" style="padding-top:15px;">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <div class="panel">
                <div class="panel-heading">
                  <h3 style="vertical-align:middle">
                    <i class="fa fa-envelope color-blue"></i> Kontakta oss
                  </h3>
                </div>
                <div class="panel-body">
                  <!-- Contact form -->
                  <form role="form" name="contactForm" ng-submit="vm.submitContact()">

                    <div class="form-group" ng-class="{'has-error': contactForm.email.$dirty && contactForm.email.$invalid,
                         'has-success': contactForm.email.$valid}">
                      <label for="email">Din Epostadress</label>
                      <input type="email" class="form-control" id="email" name="email" ng-model="vm.form.contact.email" required>
                      <span ng-show="contactForm.email.$dirty && contactForm.email.$error.required" class="help-block">Ange giltig epostadress</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': contactForm.subject.$dirty && contactForm.subject.$invalid,
                         'has-success': contactForm.subject.$valid}">
                      <label for="subject">Rubrik</label>
                      <input type="text" class="form-control" id="subject" name="subject" ng-model="vm.form.contact.subject" required>
                      <span ng-show="contactForm.subject.$dirty && contactForm.subject.$error.required" class="help-block">Ange rubrik</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error': contactForm.message.$dirty && contactForm.message.$error.required ,
                         'has-success': contactForm.message.$valid}">
                      <label for="message">Meddelande</label>
                      <textarea rows="6" cols="100" class="form-control" id="message" name="message" ng-model="vm.form.contact.message" required></textarea>
                      <span class="help-block" ng-show="contactForm.message.$dirty && contactForm.message.$error.required">Var vänlig ange ett meddelande</span>
                    </div>

                    <div class="form-actions noclick">
                      <button type="submit" ng-disabled="contactForm.$invalid || vm.dataLoadingContact" class="btn btn-primary">Skicka meddelande</button>
                      <span ng-click="vm.resetContactForm();" class="btn btn-link">Ångra</span>
                    </div>
                  </form>
                  <!-- END Contact form -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
