<div class="jumbotron">
  <div class="container">
    <h1 style="margin-bottom:-80px">Kontakta oss</h1>
  </div>
</div>

<div class="container">
  <div class="row" style="padding-top:15px;">
    <div class="col-sm-12 col-lg-12">
      <div class="panel">
        <div class="panel-heading">
          <h3><i class="glyphicon glyphicon-map-marker"></i> Adress</h3>
        </div>
        <div class="panel-body">
          <div class="google-maps">
            <iframe width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=V%C3%A4sttrafik%2C%20Folkungagatan%20G%C3%B6teborg&key=AIzaSyD_kjI6iCMgI8zWldFt9A06SmqEIml3CEc" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel">
        <div class="panel-heading">
          <h3><i class="glyphicon glyphicon-map-marker"></i> Vårt kontor</h3>
        </div>
        <div class="panel-body">
          <address>
            <strong>Göteborg</strong><br />
            Postadress:<br />
            Box 123, 541 23 Skövde<br /><br />
            Besöksadress:<br />
            Folkungagatan 20, Göteborg<br />
            <br />
              <i class="fa fa-phone adress"></i> 031-62 92 00<br />
              <i class="fa fa-fax adress"></i> Fax: 031-62 92 01<br />
              <i class="fa fa-envelope adress"></i> E-post:<a href="mailto:api@vasttrafik.se"> api@vasttrafik.se</a>
            
          </address>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="panel">
        <div class="panel-heading">
          <h3 style="vertical-align:middle">
            <i class="fa fa-envelope"></i> Kontakta oss
          </h3>
        </div>
        <div class="panel-body">
          <!-- Contact form -->
          <form role="form" name="contactForm" ng-submit="vm.submitContact()">

            <div class="form-group" ng-class="{ 'has-error': contactForm.name.$dirty && contactForm.name.$invalid,
                 'has-success' : contactForm.name.$valid}">
              <label for="name">Namn</label>
              <input type="text" class="form-control" id="name" name="name" ng-model="vm.form.contact.name" placeholder="Namn" required>
              <span class="help-block" ng-show="contactForm.name.$dirty && contactForm.name.$error.required">Ange namn</span>
            </div>

            <div class="form-group" ng-class="{'has-error': contactForm.email.$dirty && contactForm.email.$invalid,
                 'has-success': contactForm.email.$valid}">
              <label for="email">Epostadress</label>
              <input type="email" class="form-control" id="email" name="email" ng-model="vm.form.contact.email" placeholder="Epostadress" required>
              <span ng-show="contactForm.email.$dirty && contactForm.email.$error.required" class="help-block">Ange giltig epostadress</span>
            </div>

            <div class="form-group" ng-class="{'has-error': contactForm.message.$dirty && contactForm.message.$error.required ,
                 'has-success': contactForm.message.$valid}">
              <label for="message">Meddelande</label>
              <textarea rows="6" cols="100" class="form-control" id="message" name="message" ng-model="vm.form.contact.message" placeholder="Meddelande" required></textarea>
              <span class="help-block" ng-show="contactForm.message.$dirty && contactForm.message.$error.required">Var vänlig ange ett meddelande</span>
            </div>

            <div class="form-group">
              <img src="{{vm.captcha}}" title="CAPTCHA-kod för verifiering" />
              <i class="fa fa-refresh" style="margin-left: 20px; cursor: pointer" ng-click="vm.generateCaptcha()"></i>
            </div>

            <div class="form-group" ng-class="{'has-error': contactForm.captcha.$dirty && contactForm.captcha.$invalid,
                 'has-success' : contactForm.captcha.$valid}">
              <label for="captcha">Ange säkerhetskod</label>
              <input type="text" name="captcha" id="captcha" class="form-control" ng-model="vm.form.contact.captcha" required />
              <span ng-show="contactForm.captcha.$dirty && contactForm.captcha.$error.required" class="help-block">Captcha är obligatoriskt</span>
            </div>

            <div class="form-actions noclick">
              <button type="submit" ng-disabled="contactForm.$invalid || vm.dataLoadingActivation" class="btn btn-primary">Skicka meddelande</button>
              <img ng-if="vm.dataLoadingUpdateApplication" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </form>
          <!-- END Contact form -->
        </div>
      </div>
    </div>
  </div>
</div>