<div class="jumbotron" style="background: #ffffff">
  <div class="container" style="padding-left: 0">
    <h1 style="margin-bottom: -80px;">Kom igång</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row col-md-12">
      <p>
        På denna sida har vi sammanställt information om vad som krävs för att snabbt komma igång med att använda utvecklarportalen.
        Skapa konto, applikationer och att prenumerera på våra API:er beskrivs i enkla steg.
      </p>

      <!-- Create account -->
      <div class="row col-md-12">
        <h2>Skapa konto</h2>
        <p>
          Skapa konto för utvecklarportalen når du på två sätt: via knapp Skapa konto på
          startsidan eller menyalternativet Logga in -> Skapa konto.
        </p>

        <p>
          I formuläret som visas fyller du i efterfrågade uppgifter och väljer Skapa.
        </p>

        <p>
          Ett epostmeddelande kommer nu att skickas till den epostadress du angav i formuläret.
          Klicka på den bifogade länken för att visa aktiveringssidan.
        </p>

        <p>
          Fyll i användarnamn och lösenord och skriv in det aktuella värdet för captcha
          och välj "SKAPA/VERIFIERA". Dina uppgifter verifieras och givet att du fyllt i korrekt
          information  aktiveras ditt konto och du har nu tillgång till alla tjänster på utvecklarportalen.
        </p>
      </div>

      <!--Create app-->
      <div class="row col-md-12">
        <h2>Skapa applikation</h2>
        <p>
          Skapa applikation når du via alternativet Mina Applikationer i profilmenyn.
          Du dirigeras då till sidan med en förteckning över redan skapade applikationer.
        </p>
        <p>
          Fyll i nödvändiga uppgifter och välj Skapa. Din nya applikation
          finns nu tillgänglig i listan överst på sidan.
        </p>
      </div>

      <!--Subscribe to API-->
      <div class="row col-md-12">
        <h2>Skapa prenumeration</h2>
        <p>
          Observera att du måste vara inloggad och ha en applikation för att kunna skapa en prenumeration.
          Utvecklarportalen erbjuder två vägar att gå för att skapa prenumeration.
          <ol>
            <li>Via detaljsidan för ett API</li>
            <li>Via sidan Mina prenumerationer</li>
          </ol>

        </p>
      </div>

    </div>
  </div>
</div>