<div class="jumbotron title">
  <div class="container" >

    <h1 class="sub-header">General Transit Feed Specification (GTFS)</h1>
    </div>
    </div>

    <div class="container" id="gtfs" style="padding-top:0px;">
    <!-- GTFS Introduction  @ vasttrafik-->
    <section id="gtfs">
    <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2>GTFS</h2>
    </div>
    <div class="col-xs-12 col-md-12">
      <b>Västtrafik tillgängliggör all trafikdata som GTFS-filer. Men dessa filer kan du skapa egna reseplanerarapplikationer, göra analyser av datan, skapa egna rapporter med mera.</b>
      <p>General Transit Feed Specification är ett standardiserat sätt att beskriva trafikdata:
      <br><a href="https://developers.google.com/transit/">https://developers.google.com/transit/</a>
      <p>Vill du skapa en egen reseplanerare utan att behöva hitta på egen algoritm så är OpenTripPlanner ett öppet källkods-projekt som tagit fram en svit av olika verktyg för reseplanering och analys.
      <br><a href="http://www.opentripplanner.org/">http://www.opentripplanner.org/</a>
      <p><b>Licens:</b> Creative Commons Zero v1.0 Universal
    </div>
    </div>
    </section>

    <!--GTFS - Static -->
    <section id="gtfs-static" style="padding-top: 20px">
    <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2>GTFS - Static</h2>
    </div>
    <div class="col-xs-12 col-md-12">
      <B>Detta är en zip-fil som innehåller ett antal filer med planerad trafikdata. Filen uppdateras dagligen med förändringar.</b>
      <p>Mer information om specifikationen finns här:
      <br><a href="https://developers.google.com/transit/gtfs/">https://developers.google.com/transit/gtfs/</a>
      <p>Beskrivning av de olika objekten i respektive fil och vad dessa betyder kan du hitta här:
      <br><a href="https://developers.google.com/transit/gtfs/reference/">https://developers.google.com/transit/gtfs/reference/</a>
      <p>GTFS-zip finns att hämta på GitHub:
      <br><a href="https://github.com/vasttrafik/open-data-gtfs">https://github.com/vasttrafik/open-data-gtfs</a>
    </div>
    </section>

    </div>
