<!-- Hero -->
<div class="container-fluid" style="margin-top: 40px">
  <div class="container">
    <div class="row hero">
      <div class="col-sm-7">
        <h1 class="hidden-xs" ng-show="!user.loggedIn">Utveckla tillsammans</h1>
        <h2 class="hidden-sm hidden-md hidden-lg" ng-show="!user.loggedIn">Utveckla tillsammans</h2>

        <h1 class="hidden-xs" ng-show="user.loggedIn">Utveckling tillsammans</h1>
        <h2 class="hidden-sm hidden-md hidden-lg" ng-show="user.loggedIn">Utveckling tillsammans</h2>

        <p ng-show="!user.loggedIn">Genom att skapa ett konto får du tillgång till våra publika API:er och kan dessutom diskutera utveckling med likasinnade och ta del av andra förmåner.</p>
        <p ng-show="user.loggedIn">Tack för att du skapat ett konto! Här får du tillgång till våra publika API:er och kan dessutom diskutera utveckling med likasinnade och ta del av andra förmåner.</p>
        <button id="create-button" class="text-uppercase btn btn-primary" ng-show="!user.loggedIn">
          Skapa konto
        </button>
      </div>
      <div class="hidden-xs col-sm-5">
        <img class="img-responsive" src="img/png/hero.png" alt="Be a hero..." />
      </div>
    </div>
  </div>
</div>

<!-- Areas -->
<div class="container-fluid blueRow">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <a href="#/guides/get-started" title="Kom igång">
          <div class="area">
            <span class="fa fa-rocket fa-2x" aria-hidden="true"></span>
          </div>

          <h3>Kom igång</h3>
        </a>
        <p class="full-justify">
          Här finner du instruktioner om hur du kommer igång med att använda våra API:er.
        </p>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <a class="a-cog" href="#/apis" title="Våra API:er">
          <div class="area">
            <span class="fa fa-cog fa-2x" aria-hidden="true"></span>
          </div>
          <h3>API:er</h3>
        </a>

        <p class="full-justify">
          Här finner du alla våra publika API:er. Skapa ett konto följt av en applikation och du är klar för att prenumerera på våra API:er.
        </p>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <a href="#/guides/oauth2" title="Guider och manualer">
          <div class="area">
            <span class="fa fa-file-text fa-2x" aria-hidden="true"></span>
          </div>
          <h3>Guide kring OAuth 2</h3>
        </a>
        <p class="full-justify">
          Förklarande text kring säkerhets- implementationen alla våra nya api:er använder.
        </p>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <a href="#/statistics/apis">
          <div class="area">
            <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
          </div>
          <h3>Statistik</h3>
        </a>
        <p class="full-justify">Se diagram och mätvärden över användingen av våra publika API:er</p>
      </div>
    </div>
  </div>
</div>

<!-- News -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="feed">
          <h3 class="text-center"><i class="fa fa-newspaper-o"></i> Nyheter</h3>
          <ul class="list-unstyled truncate" style="line-height:2em">
            <li ng-repeat="entry in vm.newsItems | orderBy: 'createDate' : true">
              <a href="#/news/{{entry.createDate | date:'M'}}?id={{entry.id}}">
                <div class="calDate" style="margin-top:0;margin-bottom:2px;">
                  <div class="month green">{{entry.createDate | date:'MMM'}}</div>{{entry.createDate | date:'d'}}
                </div>
                {{entry.subject}}
              </a>
            </li>
          </ul>
          <p>
            <a href="#/news">Fler nyheter</a>
            <br />
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feed text-center">
          <h3><i class="fa fa-pencil-square-o"></i> Blogg</h3>
          <ul class="list-unstyled truncate" style="line-height:2em">
            <li ng-repeat="entry in vm.blogItems | orderBy: 'createDate' : true">
              <a href="#/blog/{{entry.createDate | date:'M'}}?id={{entry.id}}">
                <div class="calDate" style="margin-top:0;margin-bottom:2px;">
                  <div class="month green">{{entry.createDate | date:'MMM'}}</div>{{entry.createDate | date:'d'}}
                </div>
                {{entry.subject}}
              </a>
            </li>
          </ul>
          <p>
            <a href="#/news">Fler blogposter</a>
            <br />
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feed text-center">
          <h3><i class="fa fa-calendar"></i> Kalender</h3>
          <p>Kommer i version 2</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Showcases -->
<div class="container-fluid blueRow">
  <div class="container">
    <div class="no-row clearfix">
      <h3 class="">
        Showcase
      </h3>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="showcase panel panel-default">
          <a href="http://itunes.apple.com/se/app/reseplaneraren/id443149686?mt=8" title="Reseplaneraren i App Store (öppnas i eget fönster/flik)" target="_blank">
            <div class="panel-body">
              <img class="img-responsive" src="img/png/reseplaneraren_logo.png" alt="Reseplaneraren" />
              <div class="text-center">
                <br>
                <p>
                  <strong>Reseplaneraren</strong>
                </p>
                <div class="author hidden-sm">Västtrafik</div>
              </div>
            </div>
          </a>

        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="showcase panel panel-default">
          <a href="https://itunes.apple.com/se/app/var-ar-bussen/id821541662?mt=8" title="Var är bussen i App Store (öppnas i eget fönster/flik)" target="_blank">
            <div class="panel-body">
              <img class="img-responsive" src="img/png/where_bus.png" alt="Var är bussen" />
              <div class="text-center">
                <br>
                <p>
                  <strong>Var är bussen</strong>
                </p>
                <div class="author hidden-sm">Västtrafik</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="showcase panel panel-default">
          <a href="https://itunes.apple.com/se/app/id443895564?mt=8" title="Spårvagnssightseeing i App Store (öppna i eget fönster/flik)" target="_blank">
            <div class="panel-body">
              <img class="img-responsive" src="img/png/tram_sightseeing.png" alt="Spårvagnssightseeing" />
              <div class="text-center">
                <br>
                <p>
                  <strong>Spårvagns-sightseeing</strong>
                </p>
                <div class="author hidden-sm">Västtrafik</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $('#create-button').on('click', function(e) {
      e.stopPropagation();

      var element = angular.element(document.body);
      var controller = element.controller();

      element.scope().$apply(function() {
        controller.toggleCreate(true);
      });

      $('.dropdown-toggle.logincreate').click();

    });
  });
</script>
