
 <!-- Hero -->
<div class="container-fluid">
    <div class="container">
        <div class="row hero">
            <div class="col-sm-7">
                <h1>Utveckla tillsammans.</h1>
                <p>Genom att registrera dig i klubben för utvecklare kan du få del av våra API:er och du får även möjlighet att diskutera utveckling med andra medlemmar.</p>
                <button class="text-uppercase btn btn-primary">
                    Skapa konto
                </button>
            </div>
            <div class="hidden-xs col-sm-5">
                <img class="img-responsive" src="img/png/hero.png" alt="Be a hero..." />
            </div>
        </div>
    </div>
</div>

<!-- Areas -->
<div class="container-fluid blueRow">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <a href="#" title="Kom igång">
                    <div class="area">
                        <span class="fa fa-rocket fa-2x" aria-hidden="true"></span>
                    </div>

                    <h3>Kom igång</h3>
                </a>
                <p>Här är en kort beskrivande text om vad man hittar om man klickar här.</p>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <a class="a-cog" href="#" title="Våra API:er">
                    <div class="area">
                        <span class="fa fa-cog fa-2x" aria-hidden="true"></span>
                    </div>
                    <h3>API:er</h3>
                </a>
                <p>Här är en kort beskrivande text om vad man hittar om man klickar här.</p>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <a href="#" title="Guider och manualer">
                    <div class="area">
                        <span class="fa fa-file-text fa-2x" aria-hidden="true"></span>
                    </div>
                    <h3>Guider</h3>
                </a>
                <p>Här är en kort beskrivande text om vad man hittar om man klickar här.</p>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <a href="#">
                    <div class="area">
                        <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
                    </div>
                    <h3>Statistik</h3>
                </a>
                <p>Här är en kort beskrivande text om vad man hittar om man klickar här.</p>
            </div>
        </div>
    </div>
</div>

<!-- News -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feed">
                    <h3>Nyheter</h3>
                    <ul class="list-unstyled truncate">
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                    </ul>
                    <p>
                        <a class="" href="#" title="...">Fler nyheter</a><br />
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feed">
                    <h3>Blogg</h3>
                    <ul class="list-unstyled truncate">
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                    </ul>
                    <p>
                        <a class="" href="#" title="...">Fler nyheter</a><br />
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feed">
                    <h3>Kalender</h3>
                    <ul class="list-unstyled truncate">
                        <li>
                            <span class="label label-info date-short">15 jun</span>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <span class="label label-info date-short">20 jun</span>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>

                        <li>
                            <span class="label label-info date-short">25 aug</span>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                        <li>
                            <span class="label label-info date-short">22 sep</span>
                            <a href="#" title="...">Detta är en nyhetsrubriklänk</a>
                        </li>
                    </ul>
                    <p>
                        <a class="" href="#" title="...">Fler nyheter</a><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Showcases -->
<div class="container-fluid blueRow">
    <div class="container">
        <div class="no-row clearfix">
            <h3 class="">
                Showcase
                <a class="pull-right" href="#" title="...">Visa alla</a>
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="showcase panel panel-default">
                    <a href="#" title="DamnBus">
                        <div class="panel-body">
                            <img class="img-responsive" src="img/png/8min.png" alt="DamnBus" />
                            <div class="text-center">
                                <br>
                                <p><strong>DamnBus</strong></p>
                                <div class="author hidden-sm">Amin Asadi</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="showcase panel panel-default">
                    <a href="#" title="Bästa tur - Västtrafik">
                        <div class="panel-body">
                            <img class="img-responsive" src="img/png/bestroute.png" alt="" />
                            <div class="text-center">
                                <br>
                                <p><strong>Bästa tur - Västtrafik</strong></p>
                                <div class="author hidden-sm">Bellison</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="showcase panel panel-default">
                    <a href="#" title="GoWest - Västtrafik">
                        <div class="panel-body">
                            <img class="img-responsive" src="img/png/gowest.png" alt="" />
                            <div class="text-center">
                                <br>
                                <p><strong>GoWest - Västtrafik</strong></p>
                                <div class="author hidden-sm">Niclas Lundgren</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="showcase panel panel-default">
                    <a href="#" title="Västtrafik - JustInTime">
                        <div class="panel-body">
                            <img class="img-responsive" src="img/png/justintime.png" alt="" />
                            <div class="text-center">
                                <br>
                                <p><strong>Västtrafik - JustInTime</strong></p>
                                <div class="author hidden-sm">Anders Ekvall</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="showcase panel panel-default">
                    <a href="#" title="På Språng för Västtrafik">
                        <div class="panel-body">
                            <img class="img-responsive" src="img/png/onthemove.png" alt="" />
                            <div class="text-center">
                                <br>
                                <p><strong>På Språng för Västtrafik</strong></p>
                                <div class="author hidden-sm">Anders Ekvall</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="showcase panel panel-default">
                    <a href="#" title="Tidtabellen Väst">
                        <div class="panel-body">
                            <img class="img-responsive" src="img/png/timetablewest.png" alt="" />
                            <div class="text-center">
                                <br>
                                <p><strong>Tidtabellen Väst</strong></p>
                                <div class="author hidden-sm">acreations</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>