
<div class="jumbotron title">
  <div class="container" style="padding-left: 0">
    <h1 class="sub-header">Nyheter {{vm.month}}</h1>
  </div>
</div>

<div class="container-fluid" ng-cloak>
  <div class="container">
    <div class="row col-md-9">
      <section id="newsItemsList">
        <div class="row" ng-if="vm.mediaItems.length === 0 && completedSearch">
          <h3>Det finns inte några nyheter med valda sökkriterier. Välj ett år i listan till höger.</h3>
        </div>
        <article id="{{'mediaArticle-' + newsItem.id}}" class="newsItem" ng-repeat="newsItem in vm.mediaItems | orderBy: 'createDate' : true">
          <div class="calYear">
            <div>{{ newsItem.createDate | date:'yyyy' }}</div>
          </div>
          <div class="calDate">
            <div class="month red">{{ newsItem.createDate | date:'MMM' }}</div>{{ newsItem.createDate | date:'d' }}
          </div>
          <span class="toggleItem">
            <span class="showMore" ng-show="!newsItem.expand"><i class="glyphicon glyphicon-chevron-down" ng-click="vm.toggleExpand(newsItem.id)"></i></span>
          <span class="showLess" ng-show="newsItem.expand"><i class="glyphicon glyphicon-chevron-up" ng-click="vm.toggleExpand(newsItem.id)"></i></span>
          </span>
          <h2 class="ellipsis">{{newsItem.subject}}</h2>
          <div class="articleContent">
            <div id="{{'mediaIntro-' + $index}}" class="news-item-intro animate-hide" ng-hide="newsItem.expand" ng-bind-html="newsItem.firstPost.text | trustAsHtml">
            </div>
            <div id="{{'mediaContent-' + $index}}" class="news-item-content margin-bottom-small animate-hide" ng-hide="!newsItem.expand" ng-bind-html="newsItem.firstPost.text | trustAsHtml">
            </div>
          </div>
          <footer>
            <div class="fader"></div>
            <span>Publicerad av: {{newsItem.createdBy.signature}}, {{newsItem.createDate | relativeDate}}</span>
            <span ng-if="newsItem.firstPost.editDate != null && newsItem.firstPost.createDate !== newsItem.firstPost.editDate">Uppdaterad: {{newsItem.firstPost.editDate | relativeDate}}</span>
            <span class="toggleItemBottom">
              <span class="showMore" ng-show="!newsItem.expand" ng-click="vm.toggleExpand(newsItem.id)">Visa mer <i class="glyphicon glyphicon-chevron-down"></i></span>
            <span class="showLess" ng-show="newsItem.expand" ng-click="vm.toggleExpand(newsItem.id)">Visa mindre <i class="glyphicon glyphicon-chevron-up"></i></span>
            </span>

          </footer>
        </article>
      </section>
    </div>

    <div class="row col-md-3">
      <aside>

        <section>
          <h3>År</h3>
          <span ng-repeat="entry in vm.years"><a href="#/news/{{entry}}">{{entry}}</a> </span>
        </section>

        <div ng-if="vm.year">
          <a href="#/news">Se alla nyheter</a>
        </div>

      </aside>
    </div>
  </div>
</div>
