<div class="jumbotron title">
    <div class="container no-padding-left">
        <ol class="breadcrumb">
            <li><a href="#/" target="_self">Hem</a></li>
            <li><a href="#/overview" target="_self">Mina sidor</a></li>
            <li><a href="#/community" target="_self">Community</a></li>
            <li class="active">Mina {{vm.text}}</li>
        </ol>
        <h1>Mina {{vm.text}}</h1>
    </div>
</div>

<div class="container no-padding-top word-wrap">
    <div class="row margin-top-small" ng-if="vm.topics.length > 0">
        <table class="table table-borderless">
            <tbody>
                <tr dir-paginate="entries in vm.topics | orderBy:'lastPostDate' : true | itemsPerPage: 5">
                    <td style="width: 50px">
                        <span uib-popover-html="entries.createdBy.gravatarProfileInfo.bioHTML + '<b>Community-poäng:</b>' + entries.createdBy.rankings[0].currentPoints" popover-is-open="popoverIsOpen" ng-mouseenter="popoverIsOpen = !popoverIsOpen" ng-mouseleave="popoverIsOpen = !popoverIsOpen"
                            popover-title="{{entries.createdBy.gravatarProfileInfo.name}}">
                <div ng-class="{'area area-small': !entries.createdBy.useGravatar}">
                  <span ng-if="!entries.createdBy.useGravatar" class="fa fa-2x fa-user" aria-hidden="true"></span>
                        <img ng-if="entries.createdBy.useGravatar" src="https://www.gravatar.com/avatar/{{entries.createdBy.gravatarEmailHash}}?s=45" class="avatar">
    </div>
    </span>
    </td>
    <td>
        <h2 class="no-margin-bottom"><a href="#/community/topic/{{entries.id}}" data-balloon="{{entries.firstPost.text | removeMd | limitTo:200}}" data-balloon-length="xlarge" data-balloon-pos="up">{{entries.subject}}</a></h2>
        <span class="padding-right-mini"><strong>{{entries.createdBy.signature}}</strong></span>&bull;
        <span class="margin-left-mini">Skapades för {{entries.createDate | relativeDate}}</span> &bull;
        <span class="margin-left-mini">Senaste inlägg skrevs för {{entries.lastPostDate | relativeDate}}</span>
    </td>
    <td class="text-center">
        <h2 class="no-margin-bottom">{{entries.numberOfPosts}}</h2>
        <p>Inlägg</p>
    </td>
    <td class="text-center">
        <h2 class="no-margin-bottom">{{entries.numberOfViews}}</h2>
        <p>Visningar</p>
    </td>
    <td class="text-center">
        <h2 class="no-margin-bottom" ng-class="{answer: entries.answeredByPostId}">{{entries.numberOfAnswers}}</h2>
        <p>Svar</p>
    </td>
    </tr>
    </tbody>
    </table>
</div>
<div class="row margin-top-small" ng-if="vm.empty">
    <h2>Kunde inte hitta medverkande {{vm.text}} för dig. Gå till <a href="#/community">community forumet</a></h2>
</div>

<dir-pagination-controls></dir-pagination-controls>

</div>
