<!-- Areas -->
<div class="container-fluid">

  <div class="jumbotron title">
    <div class="container" style="padding-left: 0">
      <ol class="breadcrumb">
        <li><a href="#/" target="_self">Hem</a></li>
        <li class="active">Mina sidor</li>
      </ol>
      <h1 class="heading-large">Mina sidor</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 overview">
        <a href="#/profile" title="Profil">
          <div class="area overview">
            <span class="fa fa-user fa-2x" aria-hidden="true"></span>
          </div>
        </a>
        <h3>Min Profil</h3>

        <p>
          <span ng-if="globals.currentUser.firstName && globals.currentUser.lastName">
            {{globals.currentUser.firstName + ' ' + globals.currentUser.lastName}}
          </span>
          <span ng-if="!globals.currentUser.firstName && !globals.currentUser.lastName">
            {{globals.currentUser.userName}}
          </span>
        </p>
        <p>{{globals.currentUser.email}}</p>

        <a href="#/profile" title="Profil">
          <strong>Visa Detaljer</strong>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 overview">
        <a href="#/applications" title="Mina applikationer">
          <div class="area overview">
            <span class="fa fa-star fa-2x" aria-hidden="true"></span>
          </div>
        </a>
        <h3>Mina applikationer</h3>
        <p ng-repeat="entries in vm.applications">{{entries.name}}</p>
        <a href="#/applications" title="Mina applikationer">
          <strong>Visa Detaljer</strong>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 overview">
        <a href="#/subscriptions" title="Prenumerationer">
          <div class="area overview">
            <span class="fa fa-paper-plane fa-2x" aria-hidden="true"></span>

          </div>
        </a>
        <h3>Mina prenumerationer</h3>
        <p ng-repeat="entries in vm.subscriptions">{{entries.api.name}}</p>
        <a href="#/subscriptions" title="Prenumerationer">
          <strong>Visa Detaljer</strong>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 overview">
        <div class="area overview">
          <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
        </div>
        <h3>Min Statistik</h3>

        <p>Kommer i version 2.</p>
      </div>
    </div>
  </div>
</div>
