<!-- Areas -->
<div class="container-fluid" style="padding-bottom: 100px">

  <div class="jumbotron title">
    <div class="container" style="padding-left: 0">
      <h3 class="heading-small">Mina sidor</h3>
      <h1 class="heading-large">Översikt</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 overview">

        <div class="area overview">
          <span class="fa fa-user fa-2x" aria-hidden="true"></span>
        </div>
        <h3>Profil</h3>

        <p>{{globals.currentUser.firstName + ' ' + globals.currentUser.lastName}}</p>
        <p>{{globals.currentUser.email}}</p>

        <a href="#/profile" title="Profil">
          <strong>Redigera</strong>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 overview">
        <div class="area overview">
          <span class="fa fa-star fa-2x" aria-hidden="true"></span>
        </div>
        <h3>Mina applikationer</h3>
        <p ng-repeat="entries in vm.applications">{{entries.name}}</p>
        <a href="#/applications" title="Mina applikationer">
          <strong>Redigera</strong>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 overview">
        <div class="area overview">
          <span class="fa fa-paper-plane fa-2x" aria-hidden="true"></span>
        </div>
        <h3>Mina prenumerationer</h3>
        <p ng-repeat="entries in vm.subscriptions">{{entries.api.name}}</p>
        <a href="#/subscriptions" title="Prenumerationer">
          <strong>Redigera</strong>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 overview">
        <div class="area overview">
          <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
        </div>
        <h3>Statistik</h3>

        <p>Kommer i version 2.</p>
      </div>
    </div>
  </div>
</div>
