<div class="jumbotron title">
  <div class="container" style="padding-left: 0">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li><a href="#/overview" target="_self">Mina sidor</a></li>
      <li class="active">Min profil</li>
    </ol>
    <h1>Uppdatera profil</h1>
  </div>
</div>

<div class="container" style="padding-bottom: 100px">
  <div class="row col-md-12">
    <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#_profile" target="_self" role="tab" data-toggle="tab">Profil</a>
        </li>
        <li role="presentation">
          <a href="#_community" target="_self" role="tab" data-toggle="tab">Community</a>
        </li>
        <li role="presentation">
          <a href="#_password" target="_self" role="tab" data-toggle="tab">Lösenord</a>
        </li>
        <li role="presentation">
          <a href="#_security" target="_self" role="tab" data-toggle="tab">Säkerhet</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="padding: 40px">

        <div role="tabpanel" class="tab-pane active" id="_profile">

          <form name="profileForm" ng-submit="vm.saveProfile()" role="form">
            <div class="form-group" ng-class="{ 'has-error': profileForm.firstname.$dirty && profileForm.firstname.$invalid,
'has-success' : profileForm.firstname.$valid}">
              <label for="firstname">Förnamn</label>

              <input type="text" name="firstname" id="firstname" class="form-control" ng-model="vm.form.profile.firstName" required />
              <span ng-show="profileForm.firstname.$dirty && profileForm.firstname.$error.required" class="help-block">Förnamn är obligatoriskt</span>

            </div>

            <div class="form-group" ng-class="{ 'has-error': profileForm.lastname.$dirty && profileForm.lastname.$invalid,
'has-success' : profileForm.lastname.$valid}">
              <label for="lastname">Efternamn</label>

              <input type="text" name="lastname" id="lastname" class="form-control" ng-model="vm.form.profile.lastName" required />
              <span ng-show="profileForm.lastname.$dirty && profileForm.lastname.$error.required" class="help-block">Efternamn är obligatoriskt</span>

              <span class="form-group" ng-class="{ 'has-error': profileForm.username.$dirty && profileForm.username.$invalid,
'has-success' : profileForm.username.$valid}"></span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': profileForm.email.$dirty && profileForm.email.$invalid,
'has-success' : profileForm.email.$valid}">
              <label for="email">E-post</label>

              <input type="email" name="email" id="email" class="form-control" ng-model="vm.form.profile.email" required />
              <span ng-show="profileForm.email.$dirty && profileForm.email.$error.required" class="help-block">E-Post är obligatoriskt</span>
            </div>

            <div class="form-actions noclick">
              <button type="submit" ng-disabled="profileForm.$invalid || vm.dataLoadingProfile" class="btn btn-primary">Uppdatera</button>
              <span ng-click="vm.resetProfileForm()" class="btn btn-link">Ångra</span>
            </div>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="_community">

          <h3>Din community profil används vid användning av utvecklarportalens <a href="#/community">community forum</a></h3>
          <br/>
            <div ng-if="globals.currentUser.communityPoints">
              <label for="communityPoints">Community-poäng:</label> {{globals.currentUser.communityPoints}}
              <div style="font-size: 0.8em;font-style: italic">Du får community-poäng när andra användare röstar på dina inlägg</div>
            </div>
            <br/>

          <form name="communityForm" ng-submit="vm.saveCommunityProfile()" role="form">
            <div class="form-group" ng-class="{ 'has-error': communityForm.signature.$dirty && communityForm.signature.$invalid,
'has-success' : communityForm.signature.$valid}">
              <label for="signature">Signatur</label> <span style="font-size: 0.8em;font-style: italic">Visas vid dina inlägg och kommentarer</span>
              <input type="text" name="signature" id="signature" class="form-control" ng-model="vm.form.community.signature" required />
              <span ng-show="communityForm.signature.$dirty && communityForm.signature.$error.required" class="help-block">Signatur är obligatoriskt</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': communityForm.email.$dirty && communityForm.email.$invalid,
'has-success' : communityForm.email.$valid}">
              <label for="email">E-post</label> <span style="font-size: 0.8em;font-style: italic">För notifikationer</span>
              <input type="email" name="email" id="communityEmail" class="form-control" ng-model="vm.form.community.email" required />
              <span ng-show="communityForm.email.$dirty && communityForm.email.$error.required" class="help-block">E-Post är obligatoriskt</span>
            </div>

            <div class="form-group">
              <label for="email">Gravatar E-post</label> <span style="font-size: 0.8em;font-style: italic">Hämtar eventuell profil och bild ifrån <a href="https://www.gravatar.com" target="_blank">Gravatar</a> (lämna blankt om Gravatar inte används)</span>
              <input type="email" name="gravatarEmail" id="gravatarEmail" class="form-control" ng-model="vm.form.community.gravatarEmail" />
            </div>

            <div class="form-actions noclick">
              <button ng-if="!globals.currentUser.memberId" type="submit" ng-disabled="communityForm.$invalid || vm.dataLoadingCommunity" class="btn btn-primary">Skapa community profil</button>
              <button ng-if="globals.currentUser.memberId" type="submit" ng-disabled="communityForm.$invalid || vm.dataLoadingCommunity" class="btn btn-primary">Uppdatera</button>
              <span ng-click="vm.resetCommunityForm()" class="btn btn-link">Ångra</span>
            </div>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="_password">

          <form name="passwordForm" ng-submit="vm.savePassword()" role="form">

            <div class="form-group" ng-class="{ 'has-error': passwordForm.passwordOld.$dirty && passwordForm.passwordOld.$invalid,
'has-success' : passwordForm.passwordOld.$valid}">
              <label for="passwordOld">Nuvarande lösenord</label>
              <input type="password" name="passwordOld" id="passwordOld" class="form-control" ng-model="vm.form.password.passwordOld" required />
              <span ng-show="passwordForm.passwordOld.$dirty && passwordForm.passwordOld.$error.required" class="help-block">Nuvarande lösenord är obligatoriskt</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': passwordForm.password.$dirty && passwordForm.password.$invalid,
'has-success' : passwordForm.password.$valid}">
              <label for="password">Nytt lösenord</label>
              <input type="password" name="password" id="password" class="form-control" ng-model="vm.form.password.password" ng-minlength="6" ng-maxlength="12" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*])(?!.*[{}])).{6,12}$/" required />
              <span ng-show="passwordForm.password.$dirty && passwordForm.password.$error.required" class="help-block">Lösenord är obligatoriskt</span>
              <span ng-show="passwordForm.password.$error.minlength" class="help-block">Lösenordet måste vara minst 6 tecken långt</span>
              <span ng-show="passwordForm.password.$error.maxlength" class="help-block">Lösenordet får vara max 12 tecken långt</span>
              <span ng-show="passwordForm.password.$error.pattern" class="help-block">Lösenordet måste innehålla en siffra[0-9], en liten bokstav [a-z], en stor bokstav [A-Z] och en av karaktärerna !@#$%&</span>
              <span ng-show="passwordForm.password.$error.pattern" class="help-block">Lösenordet får ej innehålla karaktärerna {}</span>
            </div>

            <div ng-password-strength="vm.form.password.password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>

            <div class="form-group" ng-class="{ 'has-error': passwordForm.passwordRepeat.$dirty && passwordForm.passwordRepeat.$invalid,
'has-success' : passwordForm.passwordRepeat.$valid}">
              <label for="passwordRepeat">Upprepa lösenord</label>
              <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" ng-model="vm.form.password.passwordRepeat" ui-validate=" '$value==vm.form.password.password' " ui-validate-watch=" 'vm.form.password.password' " required />
              <span ng-show="passwordForm.passwordRepeat.$dirty && passwordForm.passwordRepeat.$error.required" class="help-block">Måste upprepa lösenordet</span>
              <span ng-show="passwordForm.passwordRepeat.$dirty && passwordForm.passwordRepeat.$invalid" class="help-block">Lösenorden stämmer inte överrens</span>
            </div>

            <div class="form-actions noclick">
              <button type="submit" ng-disabled="passwordForm.$invalid || vm.dataLoadingPassword" class="btn btn-primary">Uppdatera</button>
              <span ng-click="vm.resetPasswordForm();" class="btn btn-link">Ångra</span>
            </div>

          </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="_security">
          <h3>Lägg till ny/uppdatera säkerhetsfråga</h3>
          <br/>

          <form name="challengeQuestionForm" ng-submit="vm.addUpdateChallengeQuestion()" role="form">

            <div class="form-group" ng-class="{ 'has-error': challengeQuestionForm.question.$dirty && challengeQuestionForm.question.$invalid,
  'has-success' : challengeQuestionForm.question.$valid}">
              <label for="question">Fråga</label>

              <div ng-show="vm.challengequestions.length > 0">
                <select name="question" id="question" ng-model="vm.form.question.question" class="form-control" required>
                  <option ng-repeat="entry in vm.challengequestions" value="{{entry.question}}">{{entry.question}}</option>
                </select>
                <span ng-show="addSubscriptionForm.application.$dirty && addSubscriptionForm.application.$error.required" class="help-block">Applikation är obligatoriskt</span>
              </div>

              <span ng-show="challengeQuestionForm.question.$dirty && challengeQuestionForm.question.$error.required" class="help-block">Fråga är obligatoriskt</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': challengeQuestionForm.answer.$dirty && challengeQuestionForm.answer.$invalid,
  'has-success' : challengeQuestionForm.answer.$valid}">
              <label for="answer">Svar</label>
              <input type="answer" name="answer" id="answer" class="form-control" ng-model="vm.form.question.answer" required />
              <span ng-show="challengeQuestionForm.answer.$dirty && challengeQuestionForm.answer.$error.required" class="help-block">Svar är obligatoriskt</span>
            </div>

            <div class="form-actions noclick">
              <button type="submit" ng-disabled="challengeQuestionForm.$invalid || vm.dataLoadingQuestion" class="btn btn-primary">Lägg till / uppdatera säkerhetsfråga</button>
              <span ng-click="vm.resetChallengeQuestionForm();" class="btn btn-link">Ångra</span>
            </div>

          </form>

        </div>

      </div>

    </div>
  </div>
</div>
