<div class="jumbotron title" style="margin-bottom: -30px;">
  <div class="container" style="padding-left: 0">
    <h1 ng-if="!vm.user.username">Återställ lösenord</h1>
    <h1 ng-if="vm.user.username">Återfå användarnamn</h1>
  </div>
</div>

<div class="container" ng-show="vm.user.username">
  <div class="row">
    <h2>Fyll i din emailadress och lös captchan.</h2>
    <div class="container">
      <div class="row well">
        <form name="usernameRecoveryCaptchaForm" ng-submit="vm.usernameRecoveryCaptcha()" role="form">
          <div class="form-group" ng-class="{ 'has-error': usernameRecoveryCaptchaForm.email.$dirty && usernameRecoveryCaptchaForm.email.$invalid,
  'has-success' : usernameRecoveryCaptchaForm.email.$valid}">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.form.username.email" required />
            <span ng-show="usernameRecoveryCaptchaForm.email.$dirty && usernameRecoveryCaptchaForm.email.$error.required" class="help-block">Email är obligatoriskt</span>
          </div>

          <div class="form-group">
            <img src="{{vm.captcha}}">
            <i class="fa fa-refresh" style="margin-left: 20px; cursor: pointer" ng-click="vm.generateCaptcha()"></i>
          </div>

          <div class="form-group" ng-class="{ 'has-error': usernameRecoveryCaptchaForm.captcha.$dirty && usernameRecoveryCaptchaForm.captcha.$invalid,
  'has-success' : usernameRecoveryCaptchaForm.captcha.$valid}">
            <label for="usernameCaptcha">Captcha</label>
            <input type="text" name="usernameCaptcha" id="usernameCaptcha" class="form-control" ng-model="vm.form.captcha.captcha" required />
            <span ng-show="usernameRecoveryCaptchaForm.captcha.$dirty && usernameRecoveryCaptchaForm.captcha.$error.required" class="help-block">Captcha är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="usernameRecoveryCaptchaForm.$invalid || vm.dataLoadingUsername" class="btn btn-primary">Verifiera</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="!vm.user.notification && !vm.user.question && !vm.user.username">
  <div class="row">
    <h2>Steg 1 av 3. Fyll i användarnamn och lös captchan.</h2>
    <div class="container">
      <div class="row well">
        <form name="passwordRecoveryCaptchaForm" ng-submit="vm.passwordRecoveryCaptcha()" role="form">
          <div class="form-group" ng-class="{ 'has-error': passwordRecoveryCaptchaForm.username.$dirty && passwordRecoveryCaptchaForm.username.$invalid,
  'has-success' : passwordRecoveryCaptchaForm.username.$valid}">
            <label for="name">Användarnamn</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.form.username" required />
            <span ng-show="passwordRecoveryCaptchaForm.username.$dirty && passwordRecoveryCaptchaForm.username.$error.required" class="help-block">Användarnamn är obligatoriskt</span>
          </div>

          <div class="form-group">
            <label for="recoveryType">Återställningstyp</label>
            <div class="radio">
              <label>
                <input type="radio" name="recoveryType" ng-model="vm.form.captcha.recoveryType" value="notification" required> Via e-post
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="recoveryType" ng-model="vm.form.captcha.recoveryType" value="secretQuestion" required> Via fråga
              </label>
            </div>
          </div>

          <div class="form-group">
            <img src="{{vm.captcha}}">
            <i class="fa fa-refresh" style="margin-left: 20px; cursor: pointer" ng-click="vm.generateCaptcha()"></i>
          </div>

          <div class="form-group" ng-class="{ 'has-error': passwordRecoveryCaptchaForm.captcha.$dirty && passwordRecoveryCaptchaForm.captcha.$invalid,
  'has-success' : passwordRecoveryCaptchaForm.captcha.$valid}">
            <label for="captcha">Captcha</label>
            <input type="text" name="captcha" id="captcha" class="form-control" ng-model="vm.form.captcha.captcha" required />
            <span ng-show="passwordRecoveryCaptchaForm.captcha.$dirty && passwordRecoveryCaptchaForm.captcha.$error.required" class="help-block">Captcha är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="passwordRecoveryCaptchaForm.$invalid || vm.dataLoadingCaptcha" class="btn btn-primary">Verifiera</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="vm.user.notification && !vm.user.password">
  <div class="row">
    <h2>Steg 2 av 3. Fyll i koden ifrån utskickat mail och lös captchan.</h2>
    <div class="container">
      <div class="row well">
        <form name="passwordRecoveryNotificationForm" ng-submit="vm.passwordRecoveryNotification()" role="form">
          <div class="form-group">
            <label for="notificationUsername">Användarnamn</label>
            <input type="text" name="notificationUsername" id="notificationUsername" class="form-control" ng-model="vm.form.username" disabled />
          </div>
          <div class="form-group" ng-class="{ 'has-error': passwordRecoveryNotificationForm.code.$dirty && passwordRecoveryNotificationForm.code.$invalid,
        'has-success' : passwordRecoveryNotificationForm.code.$valid}">
            <label for="code">Kod</label>
            <input type="text" name="code" id="code" class="form-control" ng-model="vm.form.notification.code" required />
            <span ng-show="passwordRecoveryNotificationForm.code.$dirty && passwordRecoveryNotificationForm.code.$error.required" class="help-block">Kod är obligatoriskt</span>
          </div>

          <div class="form-group">
            <img src="{{vm.captcha}}">
            <i class="fa fa-refresh" style="margin-left: 20px; cursor: pointer" ng-click="vm.generateCaptcha()"></i>
          </div>

          <div class="form-group" ng-class="{ 'has-error': passwordRecoveryNotificationForm.captcha.$dirty && passwordRecoveryNotificationForm.captcha.$invalid,
  'has-success' : passwordRecoveryNotificationForm.captcha.$valid}">
            <label for="notificationCaptcha">Captcha</label>
            <input type="text" name="notificationCaptcha" id="notificationCaptcha" class="form-control" ng-model="vm.form.captcha.captcha" required />
            <span ng-show="passwordRecoveryNotificationForm.captcha.$dirty && passwordRecoveryNotificationForm.captcha.$error.required" class="help-block">Captcha är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="passwordRecoveryNotificationForm.$invalid || vm.dataLoadingActivation" class="btn btn-primary">Verifiera</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="vm.user.question && !vm.user.password">
  <div class="row">
    <h2>Steg 2 av 3. Svara på frågan.</h2>
    <div class="container">
      <div class="row well">
        <form name="passwordRecoverySecretQuestionForm" ng-submit="vm.passwordRecoverySecretQuestion()" role="form">
          <div class="form-group">
            <label for="passwordRecoverySecretQuestionUsername">Användarnamn</label>
            <input type="text" name="passwordRecoverySecretQuestionUsername" id="passwordRecoverySecretQuestionUsername" class="form-control" ng-model="vm.form.username" disabled />
          </div>
          <div class="form-group">
            <label for="passwordRecoverySecretQuestionQuestion">Fråga</label>
            <input type="text" name="passwordRecoverySecretQuestionQuestion" id="passwordRecoverySecretQuestionQuestion" class="form-control" ng-model="vm.form.question.challengeQuestion" disabled />
          </div>
          <div class="form-group" ng-class="{ 'has-error': passwordRecoverySecretQuestionForm.answer.$dirty && passwordRecoverySecretQuestionForm.answer.$invalid,
        'has-success' : passwordRecoverySecretQuestionForm.answer.$valid}">
            <label for="answer">Svar</label>
            <input type="text" name="answer" id="answer" class="form-control" ng-model="vm.form.question.answer" required />
            <span ng-show="passwordRecoverySecretQuestionForm.answer.$dirty && passwordRecoverySecretQuestionForm.answer.$error.required" class="help-block">Svar är obligatoriskt</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="passwordRecoverySecretQuestionForm.$invalid || vm.dataLoadingActivation" class="btn btn-primary">Skicka</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="(vm.user.notification || vm.user.question) && vm.user.password">
  <div class="row">
    <h2>Steg 3 av 3. Uppdatera lösenord.</h2>
    <div class="container">
      <div class="row well">
        <form name="passwordForm" ng-submit="vm.passwordRecovery()" role="form">

          <div class="form-group" ng-class="{ 'has-error': passwordForm.password.$dirty && passwordForm.password.$invalid,
        'has-success' : passwordForm.password.$valid}">
            <label for="password">Nytt lösenord</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.form.password.password" ng-minlength="6" ng-maxlength="12" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*])).{6,12}$/" required />
            <span ng-show="passwordForm.password.$dirty && passwordForm.password.$error.required" class="help-block">Lösenord är obligatoriskt</span>
            <span ng-show="passwordForm.password.$error.minlength" class="help-block">Lösenordet måste vara minst 6 tecken långt</span>
            <span ng-show="passwordForm.password.$error.maxlength" class="help-block">Lösenordet får vara max 12 tecken långt</span>
            <span ng-show="passwordForm.password.$error.pattern" class="help-block">Lösenordet måste innehålla en siffra[0-9], en liten bokstav [a-z], en stor bokstav [A-Z] och en av karraktärerna [!@#$%&]</span>
          </div>

          <div ng-password-strength="vm.form.password.password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>

          <div class="form-group" ng-class="{ 'has-error': passwordForm.passwordRepeat.$dirty && passwordForm.passwordRepeat.$invalid,
        'has-success' : passwordForm.passwordRepeat.$valid}">
            <label for="passwordRepeat">Upprepa lösenord</label>
            <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" ng-model="vm.form.password.passwordRepeat" ui-validate=" '$value==vm.form.password.password' " ui-validate-watch=" 'vm.form.password.password' " required />
            <span ng-show="passwordForm.passwordRepeat.$dirty && passwordForm.passwordRepeat.$error.required" class="help-block">Måste upprepa lösenordet</span>
            <span ng-show="passwordForm.passwordRepeat.$dirty && passwordForm.passwordRepeat.$invalid" class="help-block">Lösenorden stämmer inte överrens</span>
          </div>

          <div class="form-actions noclick">
            <button type="submit" ng-disabled="passwordForm.$invalid || vm.dataLoading" class="btn btn-primary">Uppdatera</button>
            <span ng-click="vm.resetPasswordForm();" class="btn btn-link">Ångra</span>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
