<div class="jumbotron title">
  <div class="container" style="padding-left: 0">
    <ol class="breadcrumb">
      <li><a href="#/" target="_self">Hem</a></li>
      <li><a href="#/overview" target="_self">Mina sidor</a></li>
      <li class="active">Mina prenumerationer</li>
    </ol>
    <h1>Mina prenumerationer</h1>
  </div>
</div>

<div class="container" ng-show="vm.subscriptions.length === 0">
  <div class="row">
    <h3>Du har för närvarande inga prenumerationer. Skapa en ny prenumeration genom att fylla i formuläret nedan.</h3>
  </div>
</div>

<div class="container" ng-show="vm.subscriptions.length > 0">
  <div class="row">

    <table class="table table-hover table-striped">
      <thead class="table-header">
        <tr>
          <th>Applikation</th>
          <th class="hidden-xs" style="width: 25px;">
            <!--Img-->
          </th>
          <th>API</th>
          <th>Aktioner</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="entries in vm.subscriptions | orderBy:'application.name'" class="nga-default nga-fade">
          <td>
            <span><a href="#/applications/{{entries.application.id}}">{{entries.application.name}}</a>
            </span>
          </td>
          <td class="hidden-xs">
            <img ng-src="{{entries.api.imageUrl}}" style="width:25px;height:25px" />
          </td>
          <td>
            <span><a href="#/api/{{entries.api.name}}/{{entries.api.version}}/{{entries.api.provider}}/direct">{{entries.api.name}} {{entries.api.version}}</a></span>
          </td>
          <td>
            <span ng-click="vm.removeSubscription(entries.id)" style="cursor: pointer" title="Ta bort">
              <span class="glyphicon glyphicon-trash" style="margin-left: 10px;"></span>
              <span class="hidden-xs">Ta bort</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div ng-show="!vm.form.subscription.update">
  <div class="container" style="padding-left: 0; padding-bottom: 0px">
    <h2>Skapa ny prenumeration</h2>
  </div>

  <div class="container">
    <div class="row well">
      <form name="addSubscriptionForm" ng-submit="vm.addSubscription()" role="form">

        <div class="form-group" ng-class="{ 'has-error': addSubscriptionForm.application.$dirty && addSubscriptionForm.application.$invalid,
  'has-success' : addSubscriptionForm.application.$valid}">
          <label for="application">Applikation</label>
          <div ng-show="vm.applications.length === 0" style="margin-bottom: 20px">Det finns inga tillgängliga applikationer att skapa en prenumeration emot. <a href="#/applications">Skapa en ny applikation</a>, skapa sedan en prenumeration här!</div>
          <div ng-show="vm.applications.length > 0">
            <select name="application" id="application" ng-model="vm.form.subscription.add.application" class="form-control" required>
              <option ng-repeat="entry in vm.applications" value="{{entry.id}}">{{entry.name}}</option>
            </select>
            <span ng-show="addSubscriptionForm.application.$dirty && addSubscriptionForm.application.$error.required" class="help-block">Applikation är obligatoriskt</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': addSubscriptionForm.api.$dirty && addSubscriptionForm.api.$invalid,
  'has-success' : addSubscriptionForm.api.$valid}">
          <label for="api">API</label>
          <div ng-show="vm.apis.length === 0" style="margin-bottom: 20px">Det finns inga tillgängliga API:er att skapa en prenumeration emot</div>
          <div ng-show="vm.apis.length > 0">
            <select name="api" id="api" ng-model="vm.form.subscription.add.api" class="form-control" required>
              <option ng-repeat="entry in vm.apis" value="{{entry.name}}/{{entry.version}}/{{entry.provider}}">{{entry.name}} {{entry.version}}</option>
            </select>
            <span ng-show="addSubscriptionForm.api.$dirty && addSubscriptionForm.api.$error.required" class="help-block">API är obligatoriskt</span>
          </div>
        </div>

        <div class="form-actions noclick" ng-show="vm.applications.length && vm.apis.length">
          <button type="submit" ng-disabled="addSubscriptionForm.$invalid || vm.dataLoadingAddSubscription" class="btn btn-primary">Skapa</button>
          <span ng-click="vm.resetAddSubscriptionForm();" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
  </div>
</div>

<div ng-show="vm.form.subscription.update">
  <div class="container" style="padding-left: 0; padding-bottom: 0px">
    <h2>Uppdatera prenumeration</h2>
  </div>

  <div class="container">
    <div class="row well">
      <form name="updateSubscriptionForm" ng-submit="vm.updateSubscription()" role="form">
        <div class="form-group" ng-class="{ 'has-error': updateSubscriptionForm.application.$dirty && updateSubscriptionForm.application.$invalid,
  'has-success' : updateSubscriptionForm.application.$valid}">
          <label for="updateApplication">Applikation</label>
          <select name="updateApplication" id="updateApplication" ng-model="vm.form.subscription.update.application" class="form-control" required>
            <option ng-repeat="entry in vm.applications" value="{{entry.applicationId}}">{{entry.name}}</option>
          </select>
          <span ng-show="updateSubscriptionForm.application.$dirty && updateSubscriptionForm.application.$error.required" class="help-block">Applikation är obligatoriskt</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': updateSubscriptionForm.api.$dirty && updateSubscriptionForm.api.$invalid,
  'has-success' : updateSubscriptionForm.api.$valid}">
          <label for="updateApi">API</label>
          <select name="updateApi" id="updateApi" ng-model="vm.form.subscription.update.api" class="form-control" required>
            <option ng-repeat="entry in vm.apis" value="{{entry.name}}/{{entry.version}}/{{entry.provider}}">{{entry.name}} {{entry.version}}</option>
          </select>
          <span ng-show="updateSubscriptionForm.api.$dirty && updateSubscriptionForm.api.$error.required" class="help-block">API är obligatoriskt</span>
        </div>

        <div class="form-actions noclick">
          <button type="submit" ng-disabled="updateSubscriptionForm.$invalid || vm.dataLoadingUpdateSubscription" class="btn btn-primary">Uppdatera</button>
          <span ng-click="vm.resetUpdateSubscriptionForm();" class="btn btn-link">Ångra</span>
        </div>
      </form>
    </div>
  </div>
</div>
