<p>
  Strax innan semestrarna gick vi i drift med vår API gateway, som ett första steg i
  införandet av vår nya API-plattform.
</p>
<p>
  <strong>
    Nu tar vi ett första steg mot en bättre utvecklarupplevelse och lanserar
    vår första release av den nya utvecklarportalen.
  </strong>
  I denna release ingår funktionalitet för
</p>
<p>
  <ul>
    <li>
      <strong>Skapa konto.</strong>
      Man kan själv skapa ett användarkonto och
      direkt komma igång och använda våra API:er.
    </li>
    <li>
      <strong>Hantera användarprofil.</strong>
      Man kan nu även själv hantera sin kontoinformation, byta lösenord m.m.
    </li>
    <li>
      <strong>Återställa konto.</strong>
      Skulle man glömma bort sitt användarnamn eller lösenord finns möjlighet till
      återställning via mail eller hemlig fråga som man själv kan definiera.
    </li>
    <li>
      <strong>Kom-igång hjälp.</strong>
      För att hjälpa våra utvecklare att komma igång har vi tagit fram en instruktion i
      tre enkla steg som visar hur man gör för att använda våra API:er.
    </li>
    <li>
      <strong>Guide för användning av OAuth2.</strong>
      Vi byter nu ut den gamla hanteringen av statiska API-nycklar mot standarden OAuth2.
      För att underlätta övergången har vi tagit fram en enkel guide som förhoppningsvis
      hjälper till på traven.
    </li>
    <li>
      <strong>Utforska våra API:er.</strong>
      I den nya portalen kan man enkelt utforska våra API:er, ladda ner dokumentation och
      använda vår nya API-konsol för att anropa våra API:er direkt från portalen.
    </li>
    <li>
      <strong>Hantera applikationer.</strong>
      För att kunna använda våra API:er behöver man registrera de applikationer
      man har tänkt använda för anropen.
    </li>
    <li>
      <strong>Prenumerera på API:er.</strong>
      När man har registrerat sina applikationer kan man prenumerera på ett
      eller flera av våra API:er.
    </li>
    <li>
      <strong>Hantera API-nycklar.</strong>
      För varje applikation man registrerar behövs nycklar för att kunna skapa OAuth2 access tokens.
    </li>
    <li>
      <strong>Kontakta oss.</strong>
      För att man enkelt ska kunna kontakta oss finns ett kontaktformulär som kan
      användas när man är inloggad i portalen.
    </li>
  </ul>
</p>
<p>
  Med dessa funktioner på plats vill vi redan nu lansera portalen så att befintliga
  och nya utvecklare kan börja utforska och använda våra API:er på egen hand. Men vi nöjer
  oss inte med det.
  <strong>
    I kommande releaser planerar vi att lansera en mängd nya funktioner som förbättrar
    utvecklarupplevelsen ännu mer och gör det enklare att utveckla tillsammans.
  </strong>
</p>
<p>
  <ul>
    <li>
      <strong>Fler Guider.</strong>
      För att göra det så enkelt som möjligt att använda våra API:er kommer vi att ta fram Guider
      för det som upplevs som krångligt av er utvecklare, så om ni har förslag på vad ni
      vill ha för guider för så hör av er.
    </li>
    <li>
      <strong>Statistik.</strong>
      Vi kommer att tillhandahålla övergripande statistik på hur våra API:er används, och även
      ge möjlighet till uppföljning på individnivå, så att du exempelvis kan se hur många
      förfrågningar som genereras av just dina applikationer.
    </li>
    <li>
      <strong>Blogg.</strong>
      Vi kommer att ha en blogg som vi uppdaterar så fort vi har något intressant vi vill dela
      med oss av. För att hålla denna levande vill vi gärna att ni utvecklare också bidrar.
      Om du har lust att vara med och bidra till denna blogg, hör av dig till oss på Västtrafik!
    </li>
    <li>
      <strong>Forum.</strong>
      Vår målsättning är att tillhandahålla forum för de ämnesområden ni utvecklare efterfrågar,
      så i detta avseende är du välkommen att skicka dina önskemål till oss på Västtrafik.
    </li>
    <li>
      <strong>Meddelanden.</strong>
      För att det ska vara möjlig att enkelt kommunicera med varandra kommer vi att tillhandahålla en
      funktion som gör det möjligt att skicka meddelanden till varandra utan att använda mail. De
      som inte vill ha några meddelanden (detta gäller dock inte meddelanden från Västtrafik) ges
      möjlighet att ange detta i sin användarprofil.
    </li>
    <li>
      <strong>Kalender.</strong>
      Tanken bakom denna funktion är att lägga ut information om konferenser, seminarier, workshops och
      liknande händelser som har med API:er i allmänhet att göra. Vi kommer även lägga ut information om
      planerade förändringar i våra API:er i kalendern.
    </li>
    <li>
      <strong>Showcase.</strong>
      Med denna funktion vill vi förevisa appar som använder våra API:er, och visa vem som har utvecklat
      appen, vilken spridning den har och hur den har byggts rent tekniskt. Idén bakom detta är att
      tillhandahålla en arena för våra utvecklare att visa upp sig och sina appar. Om du har
      byggt en app som använder våra API:er och vill att vi tar med den som ett showcase, hör av dig till oss.
    </li>
    <li>
      <strong>Driftinformation.</strong>
      Genom denna funktion vill vi kunna lägga ut information om eventuella driftstörningar i våra
      API:er i realtid.
    </li>
    <li>
      <strong>Verktyg.</strong>
      Tanken med denna funktion är att man snabbt och enkelt ska kunna generera klient-kod för att
      kunna anropa våra API:er på olika typer av plattformar och språk.
    </li>
  </ul>
</p>
<p>
  Vi kommer att arbeta med dessa funktioner löpande och releasa allt eftersom vi är färdiga med enskilda
  funktioner. Om du har önskemål om hur vi ska prioritera dessa, är du välkommen att höra av dig till
  oss på <a href="mailto:api@vasttrafik.se">api(at)vasttrafik.se</a> så ska vi ta dina önskemål i beaktande.
  Och, som nämnts ovan, om du efterlyser någon guide, vill vara med och blogga, har synpunkter på vilka
  ämnesområden vi ska ha i vårt forum eller har byggt en app som du vill visa upp är du också
  varmt välkommen att höra av dig.
</p>