<p>
  När vi byggde den nya portalen tog vi fasta på vad utvecklarportalen handlar om, dvs API:er.
  Därför valde vi att först designa all backend-funktionalitet som API:er, och att dokumentera dessa
  med hjälp av <a target="_blank" title="Till swagger.io" href="http://swagger.io/">Swagger</a> Därefter använde vi dessa specifikationer
  för att generera delar av koden som blev vår backend och de API:er som klienten kommunicerar
  med för att läsa och skriva data. Klienten kunde därmed implementeras som en ren
  web-applikation med HTML, CSS och JavaScript. Det betyder att vi har byggt vår nya portal enligt nedan:
</p>
<ul>
  <li>
    <strong>WSO2 API Manager.</strong>
    Vår API-plattform bygger på 100% öppen källkod i Java och kommer från företaget WSO2. För
    att bygga vår nya portal har vi därför utgått ifrån den funktionalitet som finns i produkten
    "out-of-the-box", vilket innebär att vi har utnyttjat de web-tjänster som finns inbyggda i
    denna produkt. Ovanpå detta lager av tjänster, som är såväl SOAP- som REST-baserade,
    har vi byggt våra egna REST-baserade API:er, som består av 2 delar; ett API hanterar allt som har
    med utvecklarkonton att göra, och det andra hanterar resten.
  </li>
  <li>
    <strong><a href="https://jersey.java.net/" title="Till jersey.java.net" target="_blank">Jersey</a> RESTful Web Services framework.</strong>
    För att bygga våra API:er enligt ovan har vi använt ramverket Jersey.
  </li>
  <li>
    <strong>HTML/CSS.</strong>
    Vi har använt <a href="http://getbootstrap.com/" title="Till getbootstrap.com" target="_blank">Bootstrap 3</a> och försökt
    använda standardkomponenter ur detta ramverk för att skapa ett intuitivt och responsivt gränssnitt.
  </li>
  <li>
    <strong><a href="https://angularjs.org/" title="Till angularjs.org" target="_blank">AngularJS.</a></strong>
    Med hjälp av AngularJS har vi kunnat bygga en användarupplevelse som lämpar sig väl för
    interaktion mellan användare, klient och vårt backend API.
  </li>
</ul>
<p>
  <strong>
    En fördel med att implementera all funktionalitet som API:er är att vi, om intresse finns,
    kan välja att publicera dessa API:er via vår API Gateway. Det skulle innebära att ni utvecklare
    kan prenumerera på dessa API:er och utveckla egna appar som gör samma sak som vår egen utvecklarportal,
  </strong>
  men som t.ex. är särskilt anpassade för mobila enheter. Om detta låter intressant, hör
  av dig till oss på Västtrafik så tar vi med dina synpunkter när vi fattar beslut om huruvida vi
  ska göra detta eller inte.
</p>

<p>
  Vi som byggde den nya portalen var:
  <ul>
    <li>
      <strong>Lars Andersson, Västtrafik.</strong>
      Ansvarar för Västtrafiks integrationscenter (IC) och deltog som sponsor och projektledare.
      Ansvarade även för att utveckla det API som används för hantering av utvecklarkonton.
    </li>

    <li>
      <strong>Christian Morin, konsult.</strong>
      Ansvarade för utveckling av användargränssnitt med särskilt fokus på AngularJS och kommunikationen med backend.
    </li>
    <li>
      <strong>Mikael Lindberg, konsult.</strong>
      Ansvarade för utveckling av användargränssnitt med särskilt fokus på design av web-sidor och Bootstrap.
    </li>
    <li>
      <strong>Daniel Oskarsson, egenföretagare.</strong>
      Daniel hörsammade vårt upprop i våras när vi efterlyste volontärer som ville vara med och utveckla vår nya portal.
      Daniel har alltså ställt upp på frivillig basis och varit en mycket värdefull tillgång för oss genom att implementera
      det API som hanterar säkerhet och inloggning, API:er, applikationer och prenumerationer. Daniel har lång erfarenhet
      och mycket goda kunskaper i att utveckla (mobila) applikationer och API:er. Mer information om Daniel
      hittar ni på hans <a href="http://danieloskarsson.se" title="Till danieloskarsson.se" target="_blank">hemsida</a>.
    </li>
  </ul>
  <div class="img-section">
    <img src="img/daniel-oskarsson.jpg" title="Daniel Oskarsson" class="img-box img-responsive" />
    Volontär Daniel Oskarsson
  </div>

</p>
