
<p>
  Smart pendelparkering är ett API vi har haft sedan 2014, men inte lanserat officiellt som ett öppet API. Vi tar nu tillfället i akt att erbjuda detta API till alla som vill använda det! Genom att använda detta API får du tillgång till information om våra
  parkeringsplatser för pendlare. De funktioner du hittar i detta API omfattar:
</p>
<ul>
  <li>
    <strong>Parkeringsområden.</strong>
    Möjlighet att söka efter parkeringsområden baserat på kommun, hållplatsområde eller koordinat. I resultatet kan man se de olika parkeringsplatser och hållplatser som hör till området.
  </li>
  <li>
    <strong>Lediga parkeringsplatser.</strong>
    Möjlighet att få reda på antal lediga platser i realtid för ett parkeringsområde eller enskild parkeringsplats.
  </li>
  <li>
    <strong>Bilder från parkeringsplatser.</strong>
    För de parkeringsplatser där det finns kamera finns möjlighet att få en bild i realtid (se nedan). Observera att bilderna är ”maskade” p.g.a. integritetsskäl.
  </li>
  <li>
    <strong>Statistik.</strong>
    Möjlighet att fråga efter tillgänglighet för ett visst parkeringsområde eller enskild parkeringsplats under en viss tidsperiod.
  </li>
</ul>
<div class="img-section">
  <img src="img/pendelparkering.jpg" title="Pendelparkeringen vid Radiomotet" /> Foto: Pendelparkeringen vid Radiomotet
</div>
<p>
  Genom att kombinera detta API med vårt Reseplanerar-API kan du förhoppningsvis hitta nya spännande tillämpningsområden. Mer information om detta API hittar du här (gör ordet ’här’ till en länk som om möjligt går till API-sidan för SPP v2, annars till
  listan över API:er).
</p>
