<p>
  Nu kan vi erbjuda statistisk över användingen av våra API:er och era applikationer. Varje natt slår vi samman och strukturerar flera intressanta värden som vi visar upp i olika typer av diagram och mätvärden.
</p>
<div class="img-section">
  <img src="img/png/diagram.png" title="Diagram" class="img-responsive img-box" style="width:100%; height:auto;" />
</div>
<ul>
  <li>
    <strong>Statistik över våra publika API:er</strong>
    <p>
      På sidan <a href="#/statistics/apis" target="_self">statistik</a> är det möjligt att se användningen av de publika API:er som finns tillgängliga.</p>
    <p>
      Vi visar hur många requests som totalt skickas till våra API:er, samt ger en översikt kring vilka som är de vanligaste resursera och dess genomsnittliga svarstider.
    </p>
  </li>
  <li>
    <strong>Statistik över era appar</strong>
    <p>
      På sidan <a href="#/statistics/applications" target="_self">min statistik</a> (kräver inloggning) är det nu möjligt att se användningen av våra API:er ifrån era egna appar.</p>
    <div class="img-section">
      <img src="img/png/diagram-2.png" title="Diagram" class="img-responsive img-box" style="width:100%; height:auto;" />
    </div>
    <p>Vi visar hur nånga requests som görs ifrån era appar, unika användare (kräver dock användning av oAuth2 som är obligatoriskt i version 2 av våra API:er) samt antalet fel och dess fel-orsaker.</p>
    <p>Det är också möjligt att se antalet requests till varje enskild resurs och dess genomsnittliga svarstider.</p>
  </li>
</ul>
<p class="double-margin">Med hjälp av statistiken hoppas vi att ni skall få bra inblick i hur era appar används, vilket kan ge stöd för vidare utveckling.</p>

<strong>Använd oAuth2 scopes</strong>
<p>
  Vid användning av oAuth2 scopes är det möjligt för oss att presentera statistisk över hur många unika användare som använder era appar.
  Ifall ni idag använder er av version 1 av våra API:er, så rekommenderar vi er att gå över till version 2 och
  utnyttjar möjligheten till att få statistisk över hur många användare som använder er app!
</p>
